.app-header {
  ion-title {
    text-transform: capitalize;
  }

  .app-header-band {
    --min-height: 10px;
    --background: var(--custom-color-complex-survey);

    &.activity {
      --background: var(--ion-color-secondary);
    }

    ion-title {
      padding: 5px 0;
    }
  }
}
