.map-control-past-locations {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
  margin: 15px 10px;
  box-shadow: 0 0 17px #0000003b, 0 0 7px #00000063;
  border-radius: 50%;
  background: white;
  padding: 3px;
  width: 41px;
  height: 41px;

  &:active {
    transform: scale(90%);
    background: #c7c7c7;
  }

  ion-icon {
    margin: 4px;
    width: 100%;
    height: 100%;
    --ionicon-stroke-width: 26px;
  }
}
