#survey-complex-moth-edit {
  #list {
    padding: 0 5px;

    .count-edit-count {
      height: 100%;
      margin: 0;
      min-width: 50px;
      font-size: 1.3em;
      border-right: 1px solid rgba(0, 0, 0, 0.13);

      &.no-number {
        font-size: 12px;
      }
    }

    .details {
      margin-left: 8px;
    }

    ion-item {
      --padding-start: 0;
      --inner-padding-end: 0;
      --inner-padding-bottom: 4px;
      --inner-padding-top: 6px;

      .species {
        font-weight: bold;
      }
      .species.scientific {
        font-weight: normal;
        font-size: 0.8em;
        font-style: italic;
        opacity: 0.7;
      }

      .location {
        font-size: 12px;
        font-weight: normal;
        margin: 3px 0;
      }

      .location .warn {
        color: var(--ion-color-warning);
      }

      ion-icon {
        opacity: 0.8;
      }
    }
  }
}
