@import '../../common/styles/_variables.scss';

//HEADING
.heading {
  font-size: 0.9em !important;
  width: 33%;
  overflow: visible;
}

#sample-save-btn {
  min-width: 70% !important;
  max-width: 100px;
  margin-right: 0;
  color: $header-color;
  float: right;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $color-white;
  background-color: $color-white;
}

//MAIN
.inputs span.icon {
  color: $button-black;
}

.attr-edit.slim {
  margin-bottom: 80px; // to account the floating photo picker for scrolling

  .core.inputs {
    margin-bottom: 0;
    background-color: $color-gray-light-super;
    margin-left: -$main-content-margin;
    margin-right: -$main-content-margin;
    padding: 0 $main-content-margin;
    box-shadow: -1px 1px 6px 0px #b5b5b5;
  }

  .core.inputs + .table-view.inputs {
    background-color: transparent;
    margin-top: 2px;
  }
}

.descript,
.heading {
  display: inline-block !important;
  vertical-align: middle;
  margin: 0 !important;

  color: $button-black;
}

.descript {
  width: 52%;

  &.short {
    width: 50%;
  }
  &.long {
    width: 90%;
  }

  min-height: 21px;
  font-size: $text-font-size;

  float: right;
  text-align: right;
  color: $color-gray-dark;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &.warn {
    color: $color-yellow;
  }

  &.error {
    color: $color-red;
  }
}

.inputs a {
  padding-right: 45px !important;
}

.inputs .table-view-cell {
  padding-left: 2%;
}

.inputs .media-object.icon {
  font-size: 16px;
  margin-right: 3%;
  margin-left: 1%;
}

#lock-btn {
  margin-right: 7px;
}

.lock:after {
  position: absolute;
  right: 15px;
  top: auto;
  bottom: 12px;

  color: $color-gray-dark;
  font-family: icons;
  content: '\e80c';
}

// location below location name
.location.lock:after {
  top: 10px;
}

$footer-height: 80px;

#img-picker-array {
  display: table;
  height: $footer-height;
  margin: 0;
  padding: 0;

  .img-picker {
    display: table-cell;
    width: $footer-height;
    min-height: $footer-height;
    padding: 0;

    border-right: 1px solid $color-gray;

    color: $color-black;

    //icon to middle
    &:before {
      padding-top: 0;
      top: 36%;
      left: 55%;
      margin-left: -12px;
      position: absolute;
    }

    input {
      width: $footer-height;
      margin-top: 0 !important;
      height: $footer-height !important;
    }
  }

  #img-array {
    display: table-cell;
    width: auto;

    white-space: nowrap;
    overflow: overlay;

    .img {
      display: inline-block;
      position: relative;

      //delete X
      span.delete {
        position: absolute;
        right: 0;
        padding: 0;

        &:before {
          text-shadow: 1px 1px $color-black;
        }
      }

      img {
        height: $footer-height;
      }
    }

    .empty {
      float: left;
      margin-top: 28px;
      margin-left: 12px;
      color: $color-gray-dark;
      font-size: $text-font-size;
    }
  }
}

footer #edit-footer {
  margin: 0 -5px;
  background-color: $color-gray-light-super;
  border-top: 1px solid $color-gray;
  box-shadow: 0px -1px 6px 0px #b5b5b5;
}
