.incremental-button {
  margin: 0;
  width: 62px;
  min-width: 62px;
  height: 100%;
  font-size: 1.3em;
  --padding-end: 0;
  --padding-start: 0;
  --border-radius: 0;

  .empty {
    font-size: 0.85em;

    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #1c1c1c;
    display: flex;
  }

  div.label-divider {
    height: 75%;
    border-right: 1px solid rgba(0, 0, 0, 0.13);
    position: absolute;
    right: 0;
  }
}
