#suggestions .empty {
  margin: 0 auto 30px;
  width: 100%;
  max-width: calc(100% - 30px);
  --border-radius: var(--theme-border-radius);
  --border-width: 0;
  --background: var(--ion-color-light);
  --color: var(--ion-color-light-contrast);

  span {
    margin: 0 auto;
    padding: 10px;
  }
}

#suggestions .empty.md {
  margin-top: 22px;
}

#suggestions .empty.ios {
  margin-top: 18px;
}

#suggestions .search-result {
  .probability {
    margin-left: 8px;
    min-width: 68px;
  }

  &.recorded {
    opacity: 0.5;
  }

  &:nth-of-type(odd) {
    border-radius: 5px;
    background-color: white;
  }

  // &:hover {
  //   background-color: var(--ion-color-light);
  // }

  div.taxon {
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
    margin-left: 8px;
    width: 100%;
    overflow: visible;
    font-weight: normal;
    line-height: 20px;
    white-space: normal;

    small {
      max-width: 90%;
    }
  }

  span.group {
    position: absolute;
    right: 22%;
    bottom: -3px;
    color: var(--ion-color-dark);
    font-weight: 200;
    font-size: 14px;

    &.right {
      right: 2%;
    }
  }

  @media only screen and (min-width: 400px) {
    span.group {
      right: 90px;
    }
  }

  &.selected {
    background-color: var(--ion-color-light-shade);

    button {
      border-left: 1px var(--ion-color-medium) solid;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
