#suggestions .empty {
  width: 80%;
  max-width: 250px;
  margin: 50px auto 0;
  border-radius: var(--theme-border-radius);

  --border-width: 0;
  --background: var(--ion-color-light);
  --color: var(--ion-color-light-contrast);
  span {
    margin: 0 auto;
    font-weight: 200;
    padding: 10px;

    b {
      font-weight: 300;
    }
  }
}

#suggestions .search-result {
  padding: 8px 8px 8px 15px;
  --padding-start: 0px;
  --inner-padding-end: 0;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  --background: none;
  padding: 0;

  .probability {
    min-width: 70px;
    margin-left: 8px;
  }

  &.recorded {
    opacity: 0.5;
  }

  &:nth-child(odd) {
    background-color: white;
    border-radius: 5px;
  }

  &:hover {
    background-color: var(--ion-color-light);
  }

  button {
    width: 20%;
    max-width: 80px;
    right: 0;

    background-color: transparent;
    border: none;
  }

  ion-button.edit-shortcut {
    height: 80%;
    --padding-start: 16px;
    --padding-end: 5px;
    border-left: 1px solid var(--ion-color-light-shade);

    ion-icon {
      color: black;
    }
  }

  div.taxon {
    display: flex;
    flex-direction: column;
    white-space: normal;
    overflow: visible;
    font-weight: normal;
    margin-bottom: 3px;
    margin-left: 8px;
    line-height: 20px;

    small {
      max-width: 90%;
    }
  }

  span.group {
    position: absolute;
    right: 22%;

    &.right {
      right: 2%;
    }

    bottom: 0;
    font-weight: 200;
    font-size: 14px;
    color: var(--ion-color-dark);
  }

  @media only screen and (min-width: 400px) {
    span.group {
      right: 90px;
    }
  }

  &.selected {
    background-color: var(--ion-color-light-shade);

    button {
      border-left: 1px var(--ion-color-medium) solid;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
