@import "../../common/styles/variables.scss";
@import "../../common/styles/mixins.scss";

//HEADER
#surveys-header {
  @include samples-surveys-header;

  #add-survey-btn {
    width: 48%;
    max-width: none;

    &:hover {
      text-shadow: 0px 0px 0px $header-color, 0px 0px 0px $header-color;
    }
  }
}

#list {
  .survey-label {
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
