.custom-alert {
  ion-backdrop {
    opacity: 0.8;
    z-index: 100;
  }

  .message {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 20px;

    background: white;
    padding: 15px;
    width: calc(100% - 40px);
    max-width: 400px;
  }
}
