{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/env",
      {
        "targets": {
          "android": "5",
          "ios": "10.2"
        },
        "modules": "commonjs",
        "corejs": "3.0.0",
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-transform-exponentiation-operator",
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": ["src/**/*tests*", "src/**/*_view*", "src/app.js", "dist", "test"]
          }
        ]
      ]
    }
  }
}
