{
  "presets": [
    "es2015"
  ],
  plugins: [
    [
      'istanbul',
      {
        exclude: [
          'src/**/*tests*',
          'src/**/*_view*',
          'src/app.js',
          'dist',
          'test'
        ]
      }
    ]
  ]
}