{
  "env": {
    "browser": true,
    "mocha": true
  },
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "import/no-mutable-exports": 0,
    "import/extensions": 0,
    "no-case-declarations": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "no-param-reassign": 0, // TODO: switch back once fixed
    "prefer-destructuring": 0, // TODO: switch back once fixed
    "no-mutable-exports": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": [2, {
      "allowShortCircuit": true, // eg. a || a()
      "allowTernary": true // eg. a ? b() : c()
    }]
  },
  "globals": {
    "sinon": true,
    "expect": true,
    "cordova": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "other/webpack.common.js"
      }
    }
  }
}
