{
  "extends": "airbnb/base",
  "rules": {
     "no-unused-expressions": [2,
        {
          allowShortCircuit: true, // eg. a || a()
          allowTernary: true // eg. a ? b() : c()
        }
     ]
  },
  "globals": {
    "before": true,
    "after": true,
    "describe": true,
    "it": true,
    "expect": true,
  }
}