/cordova
/sauce.json
/src/scripts/config_dev.js
/src/scripts/config.js
/src/scripts/JST.js
.DS_Store
.idea
.sass-cache
.npm-debug.log
/config_build.xml
dist
node_modules
bower_components

src/config_build.xml

!src/vendor
src/vendor/*
!src/vendor/datepick/
!src/vendor/bootstrap/
!src/vendor/ionic/
!src/vendor/fontello/
