.grid-alert-toggle {
  border-top: 1px solid
    var(
      --ion-toolbar-border-color,
      var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.2)))
    );

  padding-top: 0 !important;

  ion-button.info-button {
    float: left;
    margin: 9px;
    width: 41px;
    height: 30px;
    font-size: 1.2em !important;
    --padding-start: 0;
    --padding-end: 0;

    ion-icon {
      color: var(--ion-color-primary) !important;
      font-size: 1em;
    }
  }

  .menu-attr-toggle {
    max-width: fit-content;
    --background: transparent;
    --border-style: none;
    float: right;
  }
}

.grid-square-alert h1 {
  text-align: center;
}
