#survey-default-edit {
  ion-content {
    margin-bottom: 80px; // to account the floating photo picker for scrolling
    // re-enable once have the time
    // --overflow: hidden; // allow only custom attribute window slider
    --background: var(--ion-color-light);
    margin: 0 -2%;
    padding: 0 2%;

    .location-label {
      max-width: 80px;
    }
    .core.inputs {
      margin-bottom: 0;
      padding: 0;
      box-shadow: -1px 1px 6px 0px #b5b5b5;
    }
  }
}
