.survey-status {
  width: fit-content;
  flex: none;

  ion-badge {
    text-transform: uppercase;
  }
}

ion-button.survey-status-upload {
  margin-right: 5px;
  --padding-end: 15px;
  --padding-start: 15px;
  --border-radius: var(--theme-border-radius) !important;
  font-size: 0.8em !important;
}

ion-spinner.survey-status {
  width: 15px;
}
