.filter-select {
  min-height: fit-content;
  --padding-start: 19px;
  flex: 1 0 auto;
  margin-right: 6px;
  border: 1px solid var(--ion-item-border-color);
  border-radius: 25px;
  background: var(--color-primary-100);
  max-width: fit-content;
  max-width: -moz-fit-content;
  color: var(--color-primary-900);
  font-weight: 500;
  font-size: 15px;

  --padding-start: 25px;
  --padding-end: 25px;
  --padding-top: 8px;
  --padding-bottom: 8px;

  @apply shadow-md;

  &.md {
    margin-top: 10px;
    --highlight-color: transparent;

    &::part(container) {
      --highlight-color: var(--ion-color-primary);
    }
  }
}

.filter-select,
.filter-option {
  text-transform: capitalize;
}
