.species-list-item {
  &:last-child ion-item {
    --border-style: none;
  }

  .details {
    margin-left: 4px;
  }

  ion-item {
    --padding-start: 0;
    --inner-padding-bottom: 0px;
    --inner-padding-top: 0px;

    .photo {
      margin: 0 8px 2px 0;
      height: 60px;
      min-width: 60px;
      max-width: 60px;
      background-color: #e5eacd;
      border-radius: 5px;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .species {
      font-weight: bold;
      margin-left: 11px;
    }
    .species.scientific {
      font-weight: normal;
      font-size: 0.8em;
      font-style: italic;
      opacity: 0.7;
    }

    ion-icon.species-entry-incomplete-warning {
      height: 20px;
      width: 20px;
      color: var(--ion-color-warning);
      border-radius: 50%;
      background-color: rgba(var(--ion-color-warning-rgb), 0.15);
    }

    .location {
      font-size: 12px;
      font-weight: normal;
      margin: 3px 11px;
    }

    .location .warn {
      color: var(--ion-color-warning);
    }
  }
}
