/******************************************************************************
 * App wide configuration of variables.
 *****************************************************************************/

$color-white: white;
$color-gray-light: #f7f7f7;
$color-gray-light-super: #fdfdfd;
$color-gray: #ddd;
$color-gray-dark: #868686;
$color-black: #333;
$color-blue: #38c;
$color-blue-dark: #1962a0;
$color-green-dark: #4e5a0c;
$color-green: #91a71c;
$color-green-light: #bbd245;
$color-orange: #ef473a;
$color-orange-light: #ff9935;
$color-yellow: #ffc019;
$color-brown: #614705;
$color-red: #e42012;
$color-red-dark: #a01919;
$color-main: $color-green;
$color-main-light: $color-green-light;
$color-main-dark: $color-green-dark;

$app-max-width: 650px;

$button-black: $color-black;

$background-color: $color-white;
$page-color: $color-white;

$header-color: $color-main;
$link-color: $color-main;
$header-text-color: $color-white;
$button-color: $color-white !important;
$main-content-margin: 2%;

$header-height: 54px;
$button-height: 47px;
$header-font-size: 17px;
$button-font-size: 16px;
$text-font-size: 14px;

$OS_MAP_KEY: '28994B5673A86451E0530C6CA40A91A5';
$OS_MAP_URL: 'https://openspace.ordnancesurvey.co.uk/osmapapi/ts?KEY=#{$OS_MAP_KEY}&URL=file%3A%2F%2F%2F&SERVICE=WMS&REQUEST=GetMap&VERSION=1.1.1&FORMAT=image%2Fpng&height=200&width=200&srs=EPSG%3A27700';

@mixin empty-list() {
  &.empty {
    font-size: 13.3333px;
    line-height: 17.3333px;

    height: initial !important;
    min-height: initial !important;
    padding: 13px 0;
    border: none;
    margin: 0;
    list-style: none;
    text-align: center;
    font-weight: normal;
    color: $color-black;
  }

  &:hover {
    background-color: $color-gray-light;
  }
}

/** Ionic CSS Variables
https://beta.ionicframework.com/docs/theming/color-generator **/
:root {
  /** primary **/
  --ion-color-primary: #91a71c;
  --ion-color-primary-rgb: 145, 167, 28;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #809319;
  --ion-color-primary-tint: #9cb033;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
