/******************************************************************************
 * App wide configuration of variables.
 *****************************************************************************/

$color-white:        white;
$color-gray-light:   #f7f7f7;
$color-gray:         #ddd;
$color-gray-dark:    #868686;
$color-black:        #333;
$color-blue:         #38c;
$color-green-dark:   #4E5A0C;
$color-green:        #91A71C;
$color-green-light:  #BBD245;
$color-orange:       #ef473a;
$color-orange-light: #FF9935;
$color-yellow:       #FFC019;
$color-brown:        #614705;
$color-red:          #e42012;
$color-main:         $color-green;
$color-main-light:   $color-green-light;
$color-main-dark:    $color-green-dark;


$app-max-width: 650px;

$button-black: $color-black;

$background-color: $color-white;
$page-color: $color-white;

$header-color: $color-main;
$link-color: $color-main;
$header-text-color: $color-white;
$button-color: $color-white !important;
$main-content-margin: 2%;

$header-height: 44px;
$button-height: 47px;
$header-font-size: 17px;
$button-font-size: 16px;
$text-font-size: 14px;

$OS_MAP_KEY: '28994B5673A86451E0530C6CA40A91A5';
$OS_MAP_URL: 'https://openspace.ordnancesurvey.co.uk/osmapapi/ts?KEY=#{$OS_MAP_KEY}&URL=file%3A%2F%2F%2F&SERVICE=WMS&REQUEST=GetMap&VERSION=1.1.1&FORMAT=image%2Fpng&height=200&width=200&srs=EPSG%3A27700';

@mixin empty-list() {
  &.empty {
    font-size: 13.3333px;
    line-height: 17.3333px;

    height: initial!important;
    min-height: initial!important;
    padding: 13px 0;
    border: none;
    margin: 0;
    list-style: none;
    text-align: center;
    font-weight: normal;
    color: $color-black;
  }

  &:hover {
    background-color: $color-gray-light;
  }
}