@media only screen and (min-width: $app-max-width) {
  #app {
    max-width: $app-max-width;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }

  footer,
  header {
    width: $app-max-width;
    margin-left: -$app-max-width/2 !important;
    left: 50% !important;
  }
}

#app {
  margin: 0 auto;
  overflow: hidden;
}

html {
  overflow-y: scroll;
}

body {
  position: static !important;
}

.content {
  height: 100vh;
  position: relative !important;
}
