@import "./_variables.scss";

/**
* Ionic Framework:
* http://ionicframework.com/
*
* Borrowed some styles :)
*/
.item-radio:hover .item-content {
  background-color: $color-gray-light;
}

.item {
  border: 0;
  border-bottom: 2px solid $color-gray-light;
}

.checkbox input:before {
  width: 25px;
  height: 25px;
}

.checkbox input:checked:before {
  background: $header-color;
  border-color: $header-color;
}

.radio-icon.icon-check:before {
  color: $header-color;
}

// Range number input
.range input[type="number"] {
  flex: 0 0 50px;
  background: none;
  padding-left: 5px;
  padding-right: 0;
}

label.item-input-wrapper{
  width: 90%;
  height: 35px;
  margin: 6px;
  padding: 5px;

  span {
    color: $color-gray;
  }

  input {
    margin-left: 5px;
    background: transparent;
    font-size: 14px;
  }
}