@import "./_variables.scss";

#loader {
  z-index: 1000;
  position: fixed;

  padding-top: 30vh;
  width: 100%;
  background-color: $background-color;
  height: 100vh;
}

#loader h1 {
  color: $color-main;
  text-align: center;
  font-size: 3em;
}

#loader h3 {
  text-align: center;
  margin-right: -200px;
  font-weight: 200;
  color: $color-main-light;
}

#loader #animation {
  margin-top: 5%;
  text-align: center;
  font-size: 2em;
  color: $color-main;
}

#loader #animation span:before {
  font-size: 28px;
}

#loader #animation .error {
  font-size: 20px;
  margin-top: 20px;
  color: $color-red;
  text-shadow: none;
}
