@mixin samples-surveys-header {
  border-bottom: 1px $header-color solid;
  .menu-link {
    max-width: 55px;
  }

  .pull-right {
    width: 45%;
    max-width: 200px;
    background-color: $color-white;
    border-bottom: 1px solid $header-color;

    a {
      width: 48%;
      max-width: none;

      &:hover {
        text-shadow: 0px 0px 0px $header-color, 0px 0px 0px $header-color;
      }
    }

    .icon:before {
      color: $header-color;
    }
  }

  .pull-left {
    width: 56%;

    #activities-btn {
      width: 30%;
      max-width: 96px;

      &.on {
        color: $color-main-dark;

        &:before {
          text-shadow: 0px 0px 3px white;
        }
      }
    }

    #surveys-btn {
      width: 30%;
      max-width: 96px;

      &.on {
        color: $color-brown;

        &:before {
          text-shadow: 0px 0px 3px white;
        }
      }
    }
  }
}