#survey-complex-default-edit {
  #list {
    padding: 0 5px;

    .count-edit-count {
      height: 100%;
      margin: 0;
      min-width: 50px;
      font-size: 1.3em;
      border-right: 1px solid rgba(0, 0, 0, 0.13);

      &.no-number {
        font-size: 12px;
      }
    }

    .details {
      margin-left: 8px;
    }

    ion-item {
      --padding-start: 0;
      --inner-padding-end: 0;
      --inner-padding-bottom: 4px;
      --inner-padding-top: 6px;

      .photo {
        margin: 0 8px 2px 0;
        height: 60px;
        min-width: 60px;
        max-width: 60px;
        background-color: #e5eacd;
        border-radius: 5px;
        overflow: hidden;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .species {
        font-weight: bold;
      }
      .species.scientific {
        font-weight: normal;
        font-size: 0.8em;
        font-style: italic;
        opacity: 0.7;
      }

      .location {
        font-size: 12px;
        font-weight: normal;
        margin: 3px 0;
      }

      .location .warn {
        color: var(--ion-color-warning);
      }
    }
  }
}
