#user-records {
  .login-message {
    position: absolute;
    top: 40%;
    background: white;
    width: 80%;
    max-width: 300px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    box-shadow: 0 0 13px 3px #0000004d;
    border-radius: var(--theme-border-radius);
    font-size: 1.1em;
  }

  .mapboxgl-ctrl-top-right {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  ion-spinner {
    color: white;
    width: 100%;
    margin-top: 10px;
  }
}
