#faq {
  ion-label {
    font-weight: 500;
  }

  ion-item-divider {
    --background: var(--ion-color-light-shade);
    --color: var(--ion-color-light-contrast);
  }

  ion-item-divider:not(:first-of-type) {
    margin-top: 30px;
  }

  .long-tap-tip-message-icon {
    background: var(--ion-color-primary);
    border-radius: 3px;
    padding: 3px;
    margin-bottom: -4px;
    color: white;
  }
}
