#faq {
  ion-label {
    font-weight: 500;
  }

  ion-item-divider {
    --background: var(--ion-color-light-shade);
    --color: var(--ion-color-light-contrast);
  }

  ion-item-divider:not(:first-of-type) {
    margin-top: 30px;
  }

  ul li:first-child {
    margin-bottom: 10px;
  }

  .image-classifier {
    text-align: center;

    h3 {
      margin: 5px 0 20px 0;
    }

    .agree {
      background: var(--classifier-success-background);
      color: var(--classifier-success);
    }

    .disagree {
      background: var(--classifier-unlikely-background);
      color: var(--classifier-reject);
    }
  }
}
