.geolocate-btn {
  border-radius: 5px;
  background: white;
  width: 44px;
  height: 44px;
  left: 0;
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-icon {
    width: 100%;
    height: 65%;
    color: black;
  }
}

.leaflet-control .geolocate-btn.spin ion-icon {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

.gps-button {
  border: 0px !important;
}

.user-map-gps-button {
  top: calc(env(safe-area-inset-top) + 60px) !important;
  border: 0px !important;
}

.md .user-map-gps-button {
  top: calc(env(safe-area-inset-top) + 75px) !important;
}
