.gallery-modal .footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #131313ed !important;
  padding-bottom: 26px;

  .crop-button {
    align-self: end;
    height: fit-content;
    margin-top: 20px;
  }
}
