.gallery-modal .footer-container {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: column;
  background: #131313ed !important;
  padding-bottom: 26px;
  width: 100%;

  .crop-button {
    align-self: end;
    margin-top: 20px;
    height: fit-content;
  }
}
