#user-locations {
  .location {
    border-radius: var(--theme-border-radius);
    margin: 6px auto;
    max-width: 600px;

    ion-item {
      --border-style: none;
      --padding-top: 10px;
    }

    ion-label {
      margin: 0;
    }

    .details {
      ion-label {
        margin-bottom: 5px;
      }

      .location-raw {
        color: var(--ion-color-medium);
        font-size: 0.85em;
      }
    }

    .details + ion-label {
      max-width: 80px;

      .location-source {
        position: absolute;
        right: 10px;
        bottom: 0;
        font-weight: 200;
      }
    }

    &.favourite ion-item {
      --detail-icon-color: var(--ion-color-primary);
      --detail-icon-opacity: 1;
    }

    &.favourite ion-item[slot='detail-icon'] {
      margin-top: 10px;
    }
  }
}

.past-locations .info-message.blue {
  margin: 0 10px 10px;
}

.location-edit-form {
  margin-top: 10px;
}
