.menu-attr-item-lock {
  background: white;

  &.locked {
    ion-item {
      --detail-icon-color: var(--attr-lock-color);
      --detail-icon-opacity: 0.55;
    }

    ion-datetime,
    ion-label[slot='end'] {
      color: var(--attr-lock-color);
    }

    ion-toggle {
      --background-checked: var(--attr-lock-color-tint);
      &.md {
        --handle-background-checked: var(--attr-lock-color);
      }
    }

    ion-accordion-group {
      .accordion-collapsed > [slot='header'] .ion-accordion-toggle-icon,
      .accordion-collapsing > [slot='header'] .ion-accordion-toggle-icon {
        color: var(--attr-lock-color);

        opacity: 0.55;
      }
      .accordion-expanding > [slot='header'] .ion-accordion-toggle-icon {
        transform: rotate(40deg);
        color: var(--attr-lock-color);
        opacity: 0.55;
      }
      .accordion-expanded > [slot='header'] .ion-accordion-toggle-icon {
        transform: rotate(0deg);
        color: var(--attr-lock-color);
        opacity: 0.55;
      }

      ion-datetime {
        color: black;
      }
    }
  }

  ion-item-option.lock {
    min-width: 70px;

    &.locked {
      background-color: var(--ion-color-secondary-shade);
    }
  }
}

// Fix last item border in rounded blocks
div.rounded {
  > ion-item:not(.counter-input-attr-item):last-of-type:not(:last-child) {
    --border-style: solid;
  }

  > .menu-attr-item-lock:last-child ion-item {
    --border-style: none !important;
  }
}
