.map-filters {
  display: flex;
  align-items: center;
  z-index: 10;
  padding: 0 3px 10px;
  padding-top: var(--ion-safe-area-top, 0);
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
}

.map-filters::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.map-filters .toggle-badge {
  display: flex;
  /* no shrinking */
  flex: 1 0 auto;
  margin-right: 6px;
  border: 1px solid var(--color-neutral-300, #e5e5e5);
  border-radius: 25px;
  max-width: fit-content;

  overflow: hidden;
  font-weight: 500;
  font-size: 0.9em;

  text-align: left;

  /* from tailwind shadow-md */
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:
    0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

/* Hide checkbox */
.map-filters .toggle-badge input {
  display: none;
  position: absolute;
}

.map-filters .toggle-badge img,
.map-filters .toggle-badge svg {
  margin-right: 8px;
  width: 20px;
}

.map-filters .toggle-badge div {
  display: flex;
  cursor: pointer;
  background: white;
  padding: 4px 12px;
}

.map-filters .toggle-badge div:hover {
  background: var(--color-neutral-50, #fafafa);
}

.map-filters .toggle-badge input:checked + div {
  background: var(--color-primary-100);
  color: var(--color-primary-900);
}

.map-filters .toggle-badge input:checked + div:hover {
  background: var(--color-primary-50);
}

.map-filters .toggle-badge input + div {
  height: 100%;
}

.map-filters .toggle-badge div span {
  display: flex;
  align-self: center;
  white-space: nowrap;
}
