ion-slides#welcome {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #3e3e3e;

  --bullet-background-active: white;

  ion-button {
    position: absolute;
    bottom: 7%;

    &.skip {
      bottom: 2%;
      left: 9%;
    }
    &.next {
      bottom: 2%;
      right: 9%;
    }
  }

  .message {
    position: absolute;
    width: 70%;
    padding-left: 10px;

    // Hack around the tablet hidden message issue
    @media only screen and (min-width: 650px) {
      margin-left: -325px !important;
      left: 50% !important;
    }
  }

  .message p,
  .message h2 {
    padding: 10px;
    color: whitesmoke;
    background-color: rgba(123, 117, 55, 0.9);
  }

  .swiper-pagination-bullets {
    bottom: 3%;
  }

  .message p {
    font-size: 0.9em;
  }

  $bottom: 16vh;

  ion-slide {
    &.first {
      background: url('images/welcome_1.jpg') no-repeat;
      background-position: left;
      background-size: cover;

      .message {
        text-align: left;
        left: 10vw;
        bottom: $bottom;
      }
    }

    &.second {
      background: url('images/welcome_2.jpg') no-repeat;
      background-position: left;
      background-size: cover;

      .message {
        text-align: left;
        left: 10vw;
        top: 10vh;
      }
    }

    &.third {
      background: url('images/welcome_3.jpg') no-repeat;
      background-position: left;
      background-size: cover;
      .message {
        text-align: left;
        right: 10vw;
        bottom: $bottom;
      }
    }

    &.fourth {
      background: url('images/welcome_4.jpg') no-repeat;
      background-position: left;
      background-size: cover;

      .message {
        text-align: left;
        right: 10vw;
        bottom: $bottom;
      }
    }

    &.fifth {
      background: url('images/welcome_5.jpg') no-repeat;
      background-position: left;
      background-size: cover;

      .message {
        text-align: left;
        right: 10vw;
        bottom: 22vh;
      }
    }
  }
}
