#survey-default-edit {
  ion-content {
    margin-bottom: 80px; // to account the floating photo picker for scrolling
  }
}

.attr-lock-tip {
  ion-icon {
    background-color: var(--attr-lock-color);
    padding: 5px;
    color: white;
    border-radius: 3px;
    margin-bottom: -5px;
  }

  img {
    margin-top: 5px;
  }
}
