/******************************************************************************
 * App wide configuration of variables.
 *****************************************************************************/

$color-white:        white;
$color-gray-light:   #f7f7f7;
$color-gray:         #ddd;
$color-gray-dark:    #868686;
$color-black:        #333;
$color-green-dark:   #4E5A0C;
$color-green:        #91A71C;
$color-green-light:  #BBD245;
$color-orange:       #ef473a;
$color-orange-light: #FF9935;
$color-yellow:       #FFC019;
$color-red:          #e42012;

$app-max-width: 650px;

$button-black: $color-black;

$background-color: $color-white;
$page-color: $color-white;

$header-color: $color-green;
$link-color: $color-green;
$header-text-color: $color-white;
$button-color: $color-white !important;
$main-content-margin: 2%;

$button-height: 47px;
$header-font-size: 17px;
$button-font-size: 16px;
$text-font-size: 14px;

