/******************************************************************************
 * App wide configuration of variables.
 *****************************************************************************/

$color-white:        white;
$color-gray-light:   #f7f7f7;
$color-gray:         #CCC;
$color-gray-dark:    #868686;
$color-black:        #404040;
$color-green:        #91A71C;
$color-green-light:  #CDE64D;
$color-green-yellow: #E5EF4E;
$color-orange:       #ef473a;
$color-orange-light: #FF9935;
$color-yellow:       #FFC019;
$color-red:          #e42012;

$app-max-width: 650px;

$background-color: $color-white;
$page-color: $color-white;

$header-color: $color-green;
$link-color: $color-green;
$header-text-color: $color-white;
$button-color: $color-white !important;



