/******************************************************************************
 * App wide styles. Only place where tag only selectors allowed.
 *****************************************************************************/

@import "common/tabs.scss";

body {
  margin: 0;
  color: $color-black;
  font-size: $text-font-size;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

form, body {
  background: $background-color !important;
}

img {
  max-width: 100%;
}

.input-group input,
.input-row,
.input-row input {
  min-height: $button-height;
}
.input-row input {
  width: 88%;
}

.input-row.error {
  height: auto;
  label {
    color: $color-orange;
  }
}

.input-row .error {
  display: block;
  color: $color-orange;
}

label, form label {
  width: auto;
}

input:focus {
  outline:none !important
}

.space-top {
  margin-top: 35px;
}

.space-bottom {
  margin-bottom: 35px;
}

header, footer {
  padding: 0 5px !important; //overrides the bar css
  color: $header-text-color;
  background-color: $header-color !important;
  border-bottom: 1px $header-color solid;

  a {
    color: $header-text-color;
  }
}

header a,
header button {
  font-size: 16px !important;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

header a:hover {
  cursor: pointer;
  color: $color-gray-light;
  text-shadow: 0px 0px 0px $color-gray-light, 0px 0px 0px $color-gray-light;
}

header button:hover {
  background-color: $color-gray-light !important;
  color: $button-black!important;
}

button {
  &:hover{
    background-color: $color-gray-light;
    color: $button-black;
    border: 1px solid $color-gray;
  }
}

header {
  .pull-left, .pull-right {
    height: 44px ;
  }

  a.pull-left,
  .pull-left a {
    margin-left: 3px;
  }
}

header .title {
  color: $header-text-color;
  font-weight: 500;
  font-size: 17px;

  //lift the title up a bit to make some space
  &.with-subtitle {
    margin-top: -8px;
  }
}

header .subtitle {
  position: absolute;
  display: block;
  width: 100%;

  margin-top: 22px;
  margin-left: -30px;

  font-weight: normal;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}

.navigate-right:after, .push-right:after {
  content: '\e818';
}

.bar {
  border: none;
  padding: 0;
  height: inherit;
  min-height: 44px;

  .icon {
    padding-top: 12px;
  }
}

.spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.warn {
  color: $color-orange;
}

//todo: alert is absolete
.alert {
  color: $color-orange;

  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.content {
  padding-left: 2%;
  padding-right: 2%;
}

.navigate-right:after, .push-right:after {
  font-family: 'icons';
  content: '\e808'
}

.icon-small:before {
  font-size: 14px;
}

.table-view.no-top {
  border-top: none;
}

li h3 {
  font-size: 1em;
  font-weight: 700;
  display: block;
  margin: .45em 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn-positive {
  background-color: $color-green-light;
  border: 1px solid $color-green-light;
}

.btn-outlined.btn-positive {
  color: $color-green-light;
}

.btn-positive:active {
  background-color: $color-green;
  border: 1px solid $color-green;
}

.btn-narrow {
  width: auto;
  margin: 10px auto;
}

.btn {
  height: $button-height;
  padding: 0 20px;
  font-size: $button-font-size;
}

.info-message,
.success-message,
.warning-message {
  font-size: 13px;
  font-weight: normal;
  margin: 0 (-$main-content-margin);
  border-radius: 0;
  padding: 3px 15px 3px 42px;
  line-height: 1.4em;
  text-shadow: none;
  text-align: center;

  a {
    color: $color-white;
    font-style: italic;
  }
}


.info-message p,
.success-message p,
.warning-message p {
  margin: 13px 22px 13px 0;
  color: $color-white;
}

.info-message {
  color: $color-white;
  background: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7%2C0C3.134%2C0%2C0%2C3.134%2C0%2C7s3.134%2C7%2C7%2C7s7-3.134%2C7-7S10.866%2C0%2C7%2C0z%20M7%2C2c0.552%2C0%2C1%2C0.447%2C1%2C1S7.552%2C4%2C7%2C4S6%2C3.553%2C6%2C3%20S6.448%2C2%2C7%2C2z%20M9%2C11H5v-1h1V6H5V5h3v5h1V11z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E") 10px center/22px auto no-repeat #38c
}

.warning-message {
  color: $color-white;
  background: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M7%2C0L0%2C12h14L7%2C0z%20M7%2C11c-0.553%2C0-1-0.447-1-1s0.447-1%2C1-1c0.553%2C0%2C1%2C0.447%2C1%2C1S7.553%2C11%2C7%2C11z%20M7%2C8%20C6.447%2C8%2C6%2C7.553%2C6%2C7V5c0-0.553%2C0.447-1%2C1-1c0.553%2C0%2C1%2C0.447%2C1%2C1v2C8%2C7.553%2C7.553%2C8%2C7%2C8z%22%2F%3E%3C%2Fsvg%3E") 10px center/22px auto no-repeat #f0ad4e
}

.success-message {
  color: $color-white;
  background: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2214%2C4%2011%2C1%205.003%2C6.997%203%2C5%200%2C8%204.966%2C13%204.983%2C12.982%205%2C13%20%22%2F%3E%3C%2Fsvg%3E") 10px center/22px auto no-repeat #5cb85c
}

input.error {
  border-color: $color-orange;
}

input {
  padding: 0;
}


//Input with icon
.input-row {
  .icon:before {
    font-size: $button-font-size;
  }

  label.icon {
    width: inherit;
    float: none;
    padding: 0;
  }

  label.icon ~ input {
    float: none;
  }

  .delete {
    position: absolute;
    top: 0;
    right: 0;

    margin-right: -3px;
    margin-top: 14px;

    color: $color-gray;
  }
}


.toggle.no-yes:before {
  content: 'no';
}

.toggle.active.no-yes:before {
  content: 'yes';
}

.toggle.active {
  background-color: $color-green;
  border: 2px solid $color-green;
}

.toggle.active .toggle-handle {
  border-color: $color-green;
}

.error-404 {
  padding-top: 1em;
  text-align: center;
  font-size: 2em;
  color: $header-color;
  font-weight: bold;
}

//.icon-delete:before {
//  content: '\e804';
//  transform: rotate(45deg);
//}

.invisible {
  visibility: hidden;
}

.prompt-remove {
  background: rgba(255,255,150,0.4);
  transform:translateX(-140px);
}

.pull-right {
  margin-right: -5px;
}

.btn span {
  &.pull-left {
    margin-left: -13px;
    margin-right: 3px;
  }

  &.pull-right {
    margin-right: -13px;
    margin-left: 3px;
  }
}

//todo: should be automatic centering
a.btn span:before {
  padding-top: 13px;
}

@mixin empty-list() {
  &.empty {
    font-size: 13.3333px;
    line-height: 17.3333px;

    height: initial!important;
    min-height: initial!important;
    padding: 13px 0;
    border: none;
    margin: 0;
    list-style: none;
    text-align: center;
    font-weight: normal;
    color: $color-black;
  }

  &:hover {
    background-color: $color-gray-light;
  }
}

.table-view-cell {
  padding: 11px 65px 11px 15px;
  font-size: $button-font-size;

  &:hover[class*="btn"] {
    color: $color-black;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  a {
    font-size: $button-font-size;
    &:hover {
      background-color: $color-gray-light;
    }
  }

  p {
    color: $color-black;
  }
}


p a {
  color: $header-color;
}

.icon .loading:before {
  content: '\e804';
}

.icon-spin:before {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;

}

a span.pull-left.icon {
  font-size: 16px;
}


.buttons .table-view-divider {
  padding-left: 19px;
}

#common-header h1.title {
  text-transform: capitalize;
}

//disable element
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

#footer, #header {
  display: none;
}

//mobile swipe edit tools
.mobile-swipe-edit {
  height: 100%;
  position: absolute;
  top: 0;
  right: 1px;

  div {
    //size of the button
    height: 100%;
    width: 50px;

    &.delete, &.edit {
      text-align: center;
      font-size: 30px;
    }

    &.delete {
      background-color: $color-orange;
      color: $color-white;
    }

    //should be white all the time
    &.edit {
      background-color: $color-white;
      &:hover {
        background-color: $color-white;
      }
    }
  }
}

[class*=" icon-"]:before, [class^=icon-]:before {
  font-size: 20px;
}

button, input, select, textarea {
  font-size: 14px
}


.table-view-divider {
  border-top: none;
  background-color: $color-gray-light;
  font-size: $button-font-size;
  color: $color-black;
}

//remove top margin on lists
.content>.table-view:first-child {
  margin-top: 0;
}
