/******************************************************************************
 * App wide styles. Only place where tag only selectors allowed.
 *****************************************************************************/

body {
  margin: 0;
}

form, body {
  background: $background-color !important;
}

img {
  max-width: 100%;
}

label, form label {
  width: auto;
}

input,
textarea {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(221, 221, 221);
  background-color: transparent;
  height: 2em !important;
  width: 94% !important;
  margin: .5em 3% !important;
  border-radius: 0 !important;
  border-right: none !important;
  border-top: none !important;
  border-left: none !important;
}

input.dark-border {
  color: white;
  border-color: #585858;
}

input:focus {
  outline:none !important
}

.space-top {
  margin-top: 25px !important;
}

.space-bottom {
  margin-bottom: 25px !important;
}

header, footer {
  color: $header-text-color;
  background-color: $header-color !important;
  border-bottom: 1px $header-color solid;
}

header a,
footer a {
  color: $header-text-color;
}

header .title {
  color: $header-text-color;
  font-weight: bold;
}

.navigate-right:after, .push-right:after {
  color: $header-color;
  content: '\e818';
}

.bar {
  border: none;
  padding: 0;
}

.spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

header a {
  font-size: 18px !important;
}

header a:before {
  font-size: 24px;
}

.warn {
  color: $color-orange;
}

//todo: alert is absolete
.alert {
  color: $color-orange;

  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.content {
  padding-left: 12px;
  padding-right: 12px;
}

.navigate-right:after, .push-right:after {
  font-family: 'icons';
  content: '\e808'
}

.icon-small:before {
  font-size: 14px;
}

.table-view.no-top {
  border-top: none;
}

li h3 {
  font-size: 1em;
  font-weight: 700;
  display: block;
  margin: .45em 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}