/******************************************************************************
 * App wide configuration of variables.
 *****************************************************************************/

$background-color: #F4F7E6;
$page-color: #EFF2CD;

$header-color: green;
$link-color: $header-color;
$header-text-color: white;
$button-color: white !important;