/******************************************************************************
 * App wide configuration of variables.
 *****************************************************************************/

//http://paletton.com/#uid=3260X0kqDlFi8tvmRpDuHhqEuc5
$color-primary-0: #91A71C;	// Main Primary color */
$color-primary-1: #CFE363;
$color-primary-2: #AFC638;
$color-primary-3: #728605;
$color-primary-4: #4E5D00;

$color-secondary-1-0: #232578;	// Main Secondary color (1) */
$color-secondary-1-1: #5557A4;
$color-secondary-1-2: #383A8E;
$color-secondary-1-3: #121461;
$color-secondary-1-4: #070843;

$color-secondary-2-0: #AD441D;	// Main Secondary color (2) */
$color-secondary-2-1: #EB8A66;
$color-secondary-2-2: #CC623A;
$color-secondary-2-3: #8B2A06;
$color-secondary-2-4: #601A00;


$app-max-width: 650px;

$background-color: #F4F7E6;
$page-color: white;

$header-color: $color-primary-0;
$link-color: $color-primary-0;
$header-text-color: white;
$button-color: white !important;



