/******************************************************************************
 * App wide configuration of variables.
 *****************************************************************************/

$color-white: white;
$color-black: #404040;
$color-gray: #CCC;
$color-gray-light: #f2f2f2;
$color-green: #91A71C;
$color-green-light: #CDE64D;
$color-green-yellow: #E5EF4E;
$color-orange: #E15E30;
$color-orange-light: #FF9935;
$color-yellow: #FFC019;
$color-red: #A82544;

$app-max-width: 650px;

$background-color: $color-white;
$page-color: $color-white;

$header-color: $color-green;
$link-color: $color-green;
$header-text-color: $color-white;
$button-color: $color-white !important;



