//.loading .loader img {
//  width: 50px;
//  background: white;
//  box-shadow: 0px 0px 24px 1px white;
//  border-radius: 25px;
//}
//

#loader {
  position: absolute;
  left: 50%;
  top: 30%;
  margin: 0 0 4em -200px;
  width: 400px;
}

#loader h1 {
  color: #1f1f1f;
  text-align: center;
  font-size: 3em;
}

#loader #animation {
  text-align: center;
}

#loader #animation .error {
  margin-top: 20px;
  color: black;
  text-shadow: none;
}
