//.loading .loader img {
//  width: 50px;
//  background: white;
//  box-shadow: 0px 0px 24px 1px white;
//  border-radius: 25px;
//}
//

#loader {
  z-index: 1000;
  position: fixed;

  padding-top: 40vh;
  width: 100%;
  background-color: $background-color;
  height: 100vh;
}

#loader h1 {
  color: #1f1f1f;
  text-align: center;
  font-size: 3em;
}

#loader #animation {
  text-align: center;
}

#loader #animation .error {
  margin-top: 20px;
  color: black;
  text-shadow: none;
}
