#loader {
  z-index: 1000;
  position: fixed;

  padding-top: 40vh;
  width: 100%;
  background-color: $background-color;
  height: 100vh;
}

#loader h1 {
  color: $header-color;
  text-align: center;
  font-size: 3em;
}

#loader #animation {
  text-align: center;
  font-size: 2em;
  color: $color-primary-3;
}

#loader #animation .error {
  font-size: 20px;
  margin-top: 20px;
  color: #C72D2D;
  text-shadow: none;
}
