/******************************************************************************
 * Main styling placeholder. Only imports!
 *****************************************************************************/

@import "_variables.scss";
@import "app.scss";

@import "common/main.scss";
@import "info/main.scss";
@import "records/main.scss";
