/******************************************************************************
 * Main styling placeholder. Only imports!
 *****************************************************************************/

@import "_variables.scss";
@import "loading.scss";
@import "ionic.scss";

@import "app.scss";
@import "app-wide.scss";

@import "dialog.scss";

@import "app/main.scss";
@import "records/main.scss";
