.custom-alert {
  ion-backdrop {
    opacity: 0.8;
    z-index: 100;
  }

  .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    max-width: 400px;
    padding: 15px;
    z-index: 1000;

    background: white;
    border-radius: 20px;
  }
}
