#main {
  ion-tab-bar {
    contain: none;
    --color: var(--ion-color-dark);
    border-top: 1px solid rgba(var(--color-primary-700-rgb), 0.3);
    padding: 5px 0;
    padding-bottom: var(--ion-safe-area-bottom, 0);
    --background: var(--color-primary-50);

    ion-tab-button {
      max-width: 20vw;
      --padding-start: 3;
      --padding-end: 3;

      ion-icon {
        font-size: 2rem;
        --ionicon-stroke-width: 20px;
      }

      &.tab-selected {
        &:not(.activities-button-on) {
          color: var(--color-primary-800);
        }
        ion-icon {
          --ionicon-stroke-width: 28;
        }
        ion-label {
          font-weight: bold;
        }
      }
    }

    .activities-button-on {
      color: var(--ion-color-secondary);
    }
  }
}
