.gallery-modal ion-content .swiper .footer-container {
  h3 {
    margin: 8px 0 13px 5px;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    text-align: left;
  }

  .id-loading {
    display: flex;
    align-self: center;
    margin: 30px auto;
    color: white;
    font-size: 0.8em;

    ion-spinner {
      margin-left: 10px;
      height: 1.2em;
      color: white;
    }
  }

  .re-identify-button {
    margin: 10px auto 0;
    width: fit-content;
  }

  .species-array-wrapper {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    .species-array {
      display: flex;
      flex: 1;
      width: 100%;
      height: 70%;
      overflow: auto;

      .species-tile {
        display: flex;
        position: relative;
        justify-content: center;
        border-radius: 10px;
        padding: 10px 8px 0px 0;
        min-width: 31%;
        max-width: 90%;
        height: 100px;
        overflow: hidden;

        &:first-of-type {
          margin-left: 10px;
        }

        &:last-of-type {
          margin-right: 10px;
        }

        .score {
          display: flex;
          position: absolute;
          top: 1px;
          right: 1px;
          justify-content: center;
          align-items: center;
          z-index: 99;
          border-radius: 50%;
          background: #fff;
          width: 2.4em;
          height: 2.4em;

          &.success {
            border: 2px solid var(--ion-color-primary);
            color: var(--ion-color-primary);
          }

          &.warning {
            border: 2px solid var(--ion-color-warning);
            color: var(--ion-color-warning);
          }

          &.danger {
            border: 2px solid var(--ion-color-danger);
            color: var(--ion-color-danger);
          }

          ion-label {
            font-weight: 600;
            font-size: 0.7em;
          }
        }

        .container {
          display: flex;
          position: relative;
          flex-direction: column;
          align-items: center;
          border-radius: 10px;
          background: white;
          width: 100%;

          overflow: hidden;

          ion-icon {
            // TODO: remove once real pics are available
            width: 100%;
            height: 100%;
            --ionicon-stroke-width: 5px;
            z-index: 1;

            svg path {
              fill: white !important;
            }
          }

          ion-label {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            z-index: 10;
            padding: 0 2px;
            max-width: 95%;
            overflow: hidden;
            color: #121414;
            font-weight: 500;
            font-weight: bolder;
            font-size: 0.9em;
            text-align: center;

            &.scientific {
              font-style: italic;
              font-weight: normal;
            }
          }

          .species-thumbnail {
            z-index: 10;
            margin-top: -5px;
            margin: -5px -3% -10%;
            padding: -20px 0 0 0;
            max-height: 90%;
          }
          img.species-thumbnail-background {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
          }
          div.species-thumbnail-background {
            position: absolute;
            top: 0;
            width: 100%;
            height: 40%;

            img {
              position: absolute;
              transform: scale(2.5);
              filter: blur(30px);
              width: 100%;
              height: 100%;
            }
          }

          .info-box {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            z-index: 100;
            box-shadow: 0 0 15px 5px #e6e6e6;
            border-radius: 50%;
            background: #fffffff0;
            width: 100%;
            height: 100%;

            ion-icon {
              width: 30%;
              height: 50%;
              --ionicon-stroke-width: 20;
              position: absolute;
              bottom: 4%;
              left: 16%;
            }
          }
        }
      }
      .species-tile.tablet {
        min-width: 20%;
      }

      .img-placeholder {
        display: flex;
        position: relative;
        align-self: stretch;
        margin: 10px 5px 0px 5px;
        border-radius: 11px;
        background: #262626e3;
        width: 100%;
        overflow: hidden;
      }
    }
  }
}
