.menu-attr-item-location-with-lock {
  ion-item.locked {
    --detail-icon-color: var(--attr-lock-color);
    --detail-icon-opacity: 0.55;
  }

  .location-value-locked .location-value,
  .location-name-value-locked .location-name-value {
    color: var(--ion-color-secondary);
  }

  ion-item-option {
    &:not(:last-child) {
      border-right: 1px solid var(--ion-color-secondary-shade);
    }

    &.locked {
      background-color: var(--ion-color-secondary-shade);

      & + ion-item-option.locked {
        border-left: 1px solid var(--ion-color-secondary);
      }
    }
  }

  .label-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-label {
      margin-top: 5px;
      margin-bottom: 0;
    }
  }
}
