//HEADING
.heading {
  font-size: .9em!important;
  width: 33%;
}

#record-save-btn {
  height: 43px;
  width: 101px;
  color: $header-color;
  float: right;
  border: none;
  background-color: $color-white;
}

//MAIN
.descript, .heading {
  display: inline-block!important;
  vertical-align: middle;
  margin: 0!important;
}

.descript {
  width: 64%;
  float: right;
  text-align: right;
  color: $header-color;
}

#species-button .descript {
  width: 100%;
  padding-left: 1em;
}

.inputs a {
  padding-right: 45px !important;
}

.inputs .table-view-cell {
  padding-left: 2%;
}

.inputs .media-object.icon {
  font-size: 16px;
  margin-right: 2%;
  margin-left: 1%;
}