//HEADER
#records-header {
  border-bottom: 1px $header-color solid;

  .pull-right {
    width: 45%;
    max-width: 200px;
    background-color: $color-white;
    border-bottom: 1px solid $header-color;

    a {
      width: 48%;
      max-width: none;

      &:hover {
        text-shadow: 0px 0px 0px $header-color, 0px 0px 0px $header-color;
      }
    }

    .icon:before {
      color: $header-color;
    }
  }

  .pull-left {
    #activities-btn {
      max-width: 96px;
    }
  }
}

.img-picker {
  width: 45%;
  display: inline-block;
  text-align: center;

  input {
    width: 100%;
    left: 0;
    position: absolute;
    padding: .4em;
    opacity: 0;
    margin: -8px 0 !important;
    height: inherit!important;
  }

  &:hover {
    cursor: pointer;
  }
}


//SUBHEADER
//.records.subheader {
//  height: 30px;
//  margin-top: -1px;
//  padding: 0 10px;
//  background-color: $color-green-light;
//}
//
//.records.subheader .segmented-control {
//  width: 90px;
//  top: 5px;
//  background-color: transparent;
//  border-color: $color-white;
//}
//
//.records.subheader .segmented-control a{
//  padding: 0;
//  color: $color-white;
//  border-color: $color-white;
//}
//}
//
//.records.subheader a:before {
//  font-size: 18px;
//}
//
//#list-search-btn,
//#list-filter-btn {
//  background-color: transparent;
//  padding: 5px 0;
//  border: none;
//}

//LIST
#records-list {
  margin: 0;

  &.table-view {
    border-color: $color-green-light;
  }

  .table-view-cell {
    padding-right: 33px;
  }

  li {
    min-height: 65px;
    border-color: $color-green-light;

    font-size: 13.3333px;
    font-weight: normal;
    height: 16px;
    line-height: 17.3333px;

    //shrink the size nicely
    &.shrink {
      min-height: 0;
      margin: 0;
      height: 0;
      padding: 0;
    }
    -webkit-transition:height 200ms ease-in-out;
    -moz-transition:height 200ms ease-in-out;
    -o-transition:height 200ms ease-in-out;
    transition:height 200ms ease-in-out;

    &.empty {
      height: initial !important;
      min-height: initial !important;
      padding: 13px 0 0;
      border: none;
      margin: 0;

      list-style: none;
      text-align: center;

      color: $color-black;

      a {
        line-height: $button-height;
        position: relative;
        right: 0;
        margin: 31px auto 0;
      }
    }

    .mobile-swipe-edit #delete {
      padding-top: 20px;
    }

    .photo {
      margin: -9px 8px 0 -14px;
      height: 60px;
      width: 60px;
      background-color: #E5EACD;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    a {
      cursor: default;

      //mobile swipe styles
      transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
      z-index: 10;
      background-color: $color-white;

      &:hover {
        background-color: $color-gray-light;

        .online-status {
          display: none;
        }

        .edit {
          display: inline-block;

          .delete {
            margin-left: 25px;
          }
        }
      }

      &.mobile:hover {
        background-color: $color-white;

        .online-status {
          display: inline-block;
        }

        .edit {
          .delete {
            margin-left: 0;
          }
        }
      }

      //pull right
      .online-status {
        margin-right: 7px;

        &.icon:before {
          font-size: 15px;
        }

        &.local {
          color: $color-orange;
        }

        &.cloud,
        &.icon-plus{
          font-size: 15px;
          color: $color-green;
        }
      }

      .edit {
        display: none;
        padding-top: 13px;

        color: $color-gray-dark;

        .icon{
          cursor: initial;
          &:before {
            font-size: 17px;
          }
          &:hover {
            color: $button-black;
          }
        }
      }

      //record info
      .media-body {
        .species {
          display: block;
          font-size: 15px;
          font-weight: 700;
          color: $button-black;
          &.error {
            color: $color-orange;
          }
        }

        .date,
        .location{
          float: left;
          font-size: 12px;
          color: $button-black;
          margin-right: 10px;
          &.error {
            color: $color-orange;
          }

          &.warn {
            color: $color-yellow;
          }
        }

        .location {
          width: 60%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .attributes {
          clear: both;
        }

        div.stage,
        div.number {
          @extend .date;
          margin-right: 10px;
        }

        div.comment {
          @extend .date;
          float: none;
          overflow: hidden;

          word-wrap: normal;
          white-space: nowrap;
          text-overflow: ellipsis;

          font-size: 12px;
          color: $color-gray-dark;
        }

      }
    }
  }
}
