//HEADER
.records.header {
  height: 45px;
  padding: 0 10px;
  border-bottom: 1px $header-color solid
}

.records.header .pull-right {
  width: 40%;
  margin-right: -10px;
  background-color: $color-white;
}

.records.header .pull-right a {
  width: 45%;
  text-align: center;
}

.records.header .pull-right .icon:before {
  color: $header-color;
}

//SUBHEADER
//.records.subheader {
//  height: 30px;
//  margin-top: -1px;
//  padding: 0 10px;
//  background-color: $color-green-light;
//}
//
//.records.subheader .segmented-control {
//  width: 90px;
//  top: 5px;
//  background-color: transparent;
//  border-color: $color-white;
//}
//
//.records.subheader .segmented-control a{
//  padding: 0;
//  color: $color-white;
//  border-color: $color-white;
//}
//
//.records.subheader a:before {
//  font-size: 18px;
//}
//
//#list-search-btn,
//#list-filter-btn {
//  background-color: transparent;
//  padding: 5px 0;
//  border: none;
//}

//LIST
#records-list {
  margin: 0;
}

#records-list.table-view {
  border-color: $color-green-light;
}

#records-list li {
  min-height: 65px;
  border-color: $color-green-light;

  font-size: 13.3333px;
  font-weight: normal;
  height: 16px;
  line-height: 17.3333px;
}

#records-list li.empty {
  height: initial !important;
  min-height: initial !important;
  padding: 13px 0;
  border: none;
  margin: 0;

  list-style: none;
  text-align: center;

  font-weight: bold;
  color: $color-black;
}

#records-list li .photo {
  margin: -9px 8px 0 -14px;
  height: 60px;
  width: 60px;
  background-color: $color-yellow;
}

#records-list li .photo img {
  height: 100%;
  width: 100%;
}

.img-picker {
  width: 45%;
  display: inline-block;
  text-align: center;
}

.img-picker input {
  left: 0;
  position: absolute;
  padding: .4em;
  opacity: 0;
  margin: -8px 0px !important;
  height: inherit!important;
}