//HEADER
.records.header {
  height: 45px;
  padding: 0 10px;
  border-bottom: 1px $header-color solid;

  .pull-right {
    width: 40%;
    margin-right: -10px;
    background-color: $color-white;

    a {
      width: 45%;
      text-align: center;
    }

    .icon:before {
      color: $header-color;
    }
  }
}

.img-picker {
  width: 45%;
  display: inline-block;
  text-align: center;

  input {
    width: 100%;
    left: 0;
    position: absolute;
    padding: .4em;
    opacity: 0;
    margin: -8px 0 !important;
    height: inherit!important;
  }
}


//SUBHEADER
//.records.subheader {
//  height: 30px;
//  margin-top: -1px;
//  padding: 0 10px;
//  background-color: $color-green-light;
//}
//
//.records.subheader .segmented-control {
//  width: 90px;
//  top: 5px;
//  background-color: transparent;
//  border-color: $color-white;
//}
//
//.records.subheader .segmented-control a{
//  padding: 0;
//  color: $color-white;
//  border-color: $color-white;
//}
//
//.records.subheader a:before {
//  font-size: 18px;
//}
//
//#list-search-btn,
//#list-filter-btn {
//  background-color: transparent;
//  padding: 5px 0;
//  border: none;
//}

//LIST
#records-list {
  margin: 0;

  &.table-view {
    border-color: $color-green-light;
  }

  .table-view-cell {
    padding-right: 33px;
  }

  li {
    min-height: 65px;
    border-color: $color-green-light;

    font-size: 13.3333px;
    font-weight: normal;
    height: 16px;
    line-height: 17.3333px;

    &.empty {
      height: initial !important;
      min-height: initial !important;
      padding: 13px 0;
      border: none;
      margin: 0;

      list-style: none;
      text-align: center;

      font-weight: bold;
      color: $color-black;
    }

    .photo {
      margin: -9px 8px 0 -14px;
      height: 60px;
      width: 60px;
      background-color: #E5EACD;

      img {
        height: 100%;
        width: 100%;
      }
    }

    a {
      cursor: default;

      //mobile swipe styles
      transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
      z-index: 10;
      background-color: $color-white;

      //pull right
      .online-status {
        .icon:before {
          font-size: 15px;
        }

        .icon-cloud {
          color: $color-orange;
        }

        .icon-upload-cloud,
        .icon-check {
          font-size: 15px;
          color: $color-green;
        }
      }

      .edit {
        display: none;
        padding-top: 13px;

        color: $color-gray-dark;

        .icon{
          cursor: initial;
          &:before {
            font-size: 17px;
          }
          &:hover {
            color: $color-black
          }
        }
      }

      &:hover {
        background-color: $color-gray-light;

        .online-status {
          display: none;
        }

        .edit {
          display: inline-block;
          
          .delete {
            margin-left: 25px;
          }
        }
      }


      //record info
      .media-body {
        .species {
          display: block;
          font-size: 15px;
          font-weight: 700;
          color: $color-black;
        }

        .date {
          display: inline-block;
          font-size: 12px;
          color: $color-black;
        }

        p.number,
        p.stage {
          @extend .date;
          margin-left: 10px;
        }

        p.comment {
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          font-size: 12px;
        }

      }
    }

    //mobile swipe edit tools
    .mobile-edit {
      height: 100%;
      width: 50px;
      position: absolute;
      top: 0;
      right: 1px;

      background-color: $color-red;
      color: $color-white;

      .delete {
        height: 100%;
        width: 100%;

        text-align: center;
        padding-top: 15px;
        font-size: 30px;
      }
    }
  }
}