//MAIN
.species .descript {
  width: 100%;
  padding-left: 1em;
}

.info li{
  padding: 11px 16px 11px 15px;
}

.descript.comment {
  white-space: initial;
  text-align: left;
  width: auto;
  float: none;
  margin-left: 8% !important;
  display: block !important;
}

#img-array {
  height: 80px;
  padding: 0;

  white-space: nowrap;
  overflow: overlay;

  img {
    width: 60px;
  }
}