#suggestions .table-view-cell {
  padding: 8px 65px 8px 15px;
}

#suggestions .table-view-cell button {
  width: 20%;
  max-width: 80px;
  right: 0;
  border: none;
  border-left: 1px $color-gray-light solid;
}