span.stat {
  position: absolute;
  right: 0;
  font-weight: bold;
  margin-right: 16px;
}

ion-spinner.centered {
  display: block;
  margin: 40% auto;
  width: 32px;
  height: 32px;
}

#empty-stats {
  h6 {
    display: block;
    margin: 0 auto;
    text-align: center;
    opacity: 0.6;
  }

  img {
    display: block;
    width: 70px;
    margin: 30px auto;
    opacity: 0.5;
  }
}
