span.stat {
  position: absolute;
  right: 0;
  font-weight: bold;
  margin-right: 16px;
}

ion-spinner.centered {
  display: block;
  margin: 40% auto;
  width: 32px;
  height: 32px;
}

.empty-stats {
  display: block;
  margin: 50px auto;
  text-align: center;
}
