#dialog {
  display: none;
  z-index: 100;

  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  max-width: $app-max-width;
  margin: 0 auto;

  background-color: rgba(0,0,0,.2);
}

#dialog .content {
  width: 80%;
  min-height: 0;
  background-color: $color-white;
  color: $color-black;
  position: relative;
  top: 20%;
  left: 50%;
  margin-left: -40%;
  overflow: hidden;
}

#dialog .error .dialog-header{
  margin: 0 -13px;
  background-color: $color-orange;
  color: $color-white;
;
}

//limit width for wide screens
@media only screen and (min-width: 500px) {
  #dialog .content {
    width: 400px;
    margin-left: -200px;
  }
}

#dialog .icon.spin {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -60px;
  color: $color-white ;

  &:before {
    font-size: 80px;
  }
}

.dialog-header {
  padding: 15px 10px;
  border-bottom: 1px solid $color-gray-light;
  text-align: center;
}

.dialog-header h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;

  font-weight: 500;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  line-height: 1.2;
}

.dialog-body div {
  margin: 10px 0;
}

.dialog-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  min-height: 65px;
  padding: 10px;

  button {
    width: 100%;
    margin-right: 10px;
  }
}

