/**
* Ionic Framework:
* http://ionicframework.com/
*
* Borrowed some styles :)
*/
.item-radio:hover .item-content {
  background-color: $color-gray-light;
}

.item {
  border: 0;
  border-bottom: 2px solid $color-gray-light;
}

.checkbox input:before {
  width: 25px;
  height: 25px;
}

.checkbox input:checked:before {
  background: $header-color;
  border-color: $header-color;
}

.radio-icon.icon-check:before {
  color: $header-color;
}
