#map-container {
  //container is onlyneeded to
  //make it full width
  margin-left: -2%;
  margin-right: -2%;

  #map {
    height: 76vh;
    width: 100%;
  }
}

.leaflet-control-scale {
  display: none;
}

.map-marker {
  margin-left: -24px!important;
  margin-top: -24px!important;
  text-shadow: 0px 0px 1px black, 0px 0px 4px black;
  color: $color-red;
  &:before {
    font-size: 34px;
  }
}

input#grid-ref {
  text-transform: uppercase;
}
input#grid-ref {
  text-transform: uppercase;
}
input#grid-ref::-webkit-input-placeholder { /* WebKit browsers */
  text-transform: none;
}
input#grid-ref:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  text-transform: none;
}
input#grid-ref::-moz-placeholder { /* Mozilla Firefox 19+ */
  text-transform: none;
}
input#grid-ref:-ms-input-placeholder { /* Internet Explorer 10+ */
  text-transform: none;
}


#user-locations .table-view-cell {
  @include empty-list();

  padding: 0;

  .location {
    position: relative;
    z-index: 10;
    padding: 11px;
    background-color: $color-white;

    //mobile swipe styles
    transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
  }

  .mobile-swipe-edit #edit,
  .mobile-swipe-edit #delete {
    padding-top: 10px;

    &.with-name {
      padding-top: 22px;
    }
  }

}

@media only screen and (max-width: 400px) {
  #location-header {
    h1 {
      font-size: 13.5px;
      margin-left: -30px;
    }
    h3 {
      margin-left: -30px;
    }
  }
}