#suggestions .table-view-cell {
  padding: 8px 65px 8px 15px;

  &:hover {
    background-color: $color-gray-light;
  }

  &.selected {
    background-color: $color-gray;

    button {
      border-left: 1px $color-gray-dark solid;
    }
  }

  button {
    width: 20%;
    max-width: 80px;
    right: 0;

    background-color: transparent;
    border: none;
    border-left: 1px $color-gray solid;
  }
}
