#suggestions .table-view {
  border-top: none;
}

#suggestions .table-view-cell {
  padding: 8px 65px 8px 15px;

  @include empty-list();

  button {
    width: 20%;
    max-width: 80px;
    right: 0;

    background-color: transparent;
    border: none;
    border-left: 1px $color-gray solid;
  }

  &.selected {
    background-color: $color-gray;

    button {
      border-left: 1px $color-gray-dark solid;
    }
  }
  
  &:hover {
    cursor: pointer;
  }
}
