#location-page-header {
  ion-toolbar {
    --ion-toolbar-background: rgba(255, 255, 255, 0.9);
    --padding-start: 0;
    --padding-top: 0;
    --min-height: 47px;

    ion-buttons {
      margin: 0;
    }

    ion-back-button {
      background-color: var(--ion-color-primary);
      height: 47px;
      color: var(--ion-color-primary-contrast);
      width: 55px;
    }

    ion-input {
      --placeholder-color: var(--ion-color-medium);
      color: var(--ion-color-dark);
      min-width: calc(100% - 58.8px);
      text-overflow: ellipsis;
      
      ion-icon {
        margin: 0 10px;
      }
    }

    &:first-of-type ion-input {
      min-width: calc(100% - 58.8px - 55px);
    }

    ion-button {
      color: var(--ion-color-medium-shade);
      height: 44px;
      margin: 0;

      ion-icon.locked {
        color: var(--ion-color-secondary);
      }
    }

    input#location-gridref {
      text-transform: uppercase;
    }

    input#location-gridref[data-source='gps'] {
      color: var(--ion-color-success);
    }

    input#location-gridref[data-gr-error='error'] {
      color: var(--ion-color-warning);
    }
  }
}
