#home-menu {
  ion-content {
    --padding-top: env(safe-area-inset-top) !important;
  }

  #feedback-request {
    border-radius: var(--theme-border-radius);
    box-shadow: none;
  }

  .app-menu {
    img {
      margin: 0 auto;
      display: block;
      height: 140px;
    }
  }
}
