.attr-wrapper {
  --padding-start: 0;
  --inner-padding-end: 0;
  --border-style: none;

  .attr-date {
    width: 100%;

    .ion-accordion-toggle-icon {
      display: block;
      opacity: 0.5;
      margin-right: -6px;
      margin-left: 10px;
      font-size: 20px;

      &.ios {
        opacity: 0.3;
        margin-left: 0;
      }
    }

    .accordion-disabled .ion-accordion-toggle-icon {
      display: none;
    }
  }
}
