.attributes-list {
  margin-top: 2px;
  border-bottom: none;
  background-color: transparent;
  // height: calc(100vh - 80px - 220px - 15px - 36px);
  overflow: auto;

  ion-item {
    --background: var(--ion-color-light);
  }

  ion-toggle {
    padding-right: 0;
  }
}
