ion-item-sliding.survey-list-item {
  --survey-item-height: 73px;
  border-radius: var(--theme-border-radius);
  background: white;
  max-width: 600px;

  & > ion-item {
    --border-style: none;
    --min-height: var(--survey-item-height);
    --padding-start: 0;
    --inner-padding-end: 5px;
    --border-radius: var(--theme-border-radius);

    .survey-info-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      max-height: var(--survey-item-height);

      .photo {
        position: relative;
        flex: none;
        margin: 0 10px 0 0;
        border-radius: 10px 0 0 10px;
        background-color: #e5eacd;
        min-width: var(--survey-item-height);
        max-width: var(--survey-item-height);
        height: var(--survey-item-height);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .count {
        flex: none;
        z-index: 1000;
        margin: 0 10px 0 0;
        width: var(--survey-item-height);
        min-width: var(--survey-item-height);

        .count-wrapper {
          margin: 0 auto;
          box-shadow: 0 0 0 6px white;
          border-radius: var(--theme-border-radius);
          background: white;
          width: fit-content;
        }

        .number {
          margin: 0 auto;
          border-radius: 50%;
          border-radius: var(--theme-border-radius);
          background: #edeced;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
        }

        .label {
          font-size: 0.75em;
          text-align: center;
        }
      }

      .survey-info {
        display: flex;
        flex: auto;
        width: 100%;
        min-width: 10px;
        overflow: hidden;

        white-space: nowrap;

        h3:not(:first-of-type) {
          margin-bottom: 10px;
        }

        span.locked,
        div.locked {
          color: var(--ion-color-secondary);
        }
      }
    }

    .training-band {
      position: absolute;
      z-index: 1000;
      background-color: black;
      width: 7px;
      height: 100%;
    }
    .activity-band {
      position: absolute;
      z-index: 1000;
      background-color: var(--ion-color-secondary);
      width: 7px;
      height: 100%;
    }
    .activity-band + .training-band {
      top: 0;
      left: 7px;
    }
  }
}
