.leaflet-top {
  // fix opening the layers overlap with the past locations button
  top: 59px;
}

.past-locations-control {
  position: absolute;
  right: 10px;
  top: 10px;

  ion-button {
    width: 100%;
    height: 100%;
    margin: 0;
    --padding-end: 3px;
    --padding-start: 3px;
  }
}
