.location-input-attr {
  ion-input {
    --padding-start: 18px;
  }
}
// fixes location input caret color
.location-input-attr ion-input input,
.location-name-attr ion-input input {
  --highlight-color: var(--ion-color-primary-dark) !important;
}

.map-settings-panel {
  ion-item-divider {
    padding-left: 16px;
  }

  .radio-input-attr ion-radio-group > ion-item ion-img {
    margin: 5px 15px 5px 5px;
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
  }
}
