.updated-records-dialog {
  .counts {
    margin: 0 -24px;
    background-color: var(--ion-page-background);
    padding: 1px 10px;

    .verified-count {
      display: flex;
      align-items: center;
      margin: 14px 0;

      ion-icon {
        margin-right: 10px;
      }

      span {
        width: 50%;
      }
      b {
        width: 33%;
        font-size: 1.2em;
        text-align: center;
      }
    }
  }

  &.ios .counts {
    margin: 0 -16px;
  }

  ion-item {
    margin: 0 -10px;

    --padding-start: 0;
    --background: transparent;

    font-size: 16px !important;

    &.ios {
      margin-left: -2px;
    }

    ion-checkbox {
      margin-right: 10px;
    }
  }
}
