#survey-complex-moth-edit {
  ion-content {
    margin: 0 -2%;
    padding: 0 2%;

    .location-label {
      max-width: 80px;
    }

    #add {
      width: 40%;
      margin: 30px auto 10px;
    }

    #species-list-sort {
      text-align: end;
      ion-button {
        margin-right: 5px;
      }
    }

    .core.inputs {
      margin-bottom: 0;
    }

    #list {
      font-weight: bold;

      .empty {
        width: 80%;
        max-width: 250px;
        margin: 50px auto 0;
        --border-width: 0;
        --background: var(--ion-color-light);
        --color: var(--ion-color-light-contrast);
        span {
          margin: 0 auto;
          font-weight: 200;
        }
      }

      ion-label {
        margin-left: 8px;
      }
    }
  }
}
