$footer-height: 80px;

#img-picker-array {
  display: flex;
  height: $footer-height;
  background: #ffffff;
  margin: 0;
  padding: 0;

  .img-picker {
    position: relative;
    display: block;
    width: $footer-height;
    height: $footer-height;
    min-height: $footer-height;
    padding: 0;

    border-right: 1px solid var(--ion-color-light-shade);

    color: var(--ion-color-dark);

    ion-button {
      margin: 0;
      margin-left: 54%;
      height: 100%;
      width: 80px;
      transform: translateX(-50%);

      ion-icon {
        width: 65%;
        height: 65%;
      }
    }

    // non-cordova picker
    .non-cordova-img-picker-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-16px, -16px);
    }
    & > input {
      position: absolute;
      opacity: 0;
      width: $footer-height;
      margin-top: 0 !important;
      height: $footer-height !important;
    }
  }

  #img-array {
    display: table-cell;
    width: auto;

    white-space: nowrap;
    overflow: overlay;
    overflow-y: hidden;
    width: 100%;

    .img {
      display: inline-block;
      position: relative;

      ion-button.delete {
        position: absolute;
        height: 20px;
        width: 100%;

        ion-icon {
          color: white;
        }

        background-color: #8080807d;
        margin: 0;
      }

      img {
        height: $footer-height;
      }
    }

    .empty {
      position: absolute;
      color: var(--ion-color-dark-tint);
      font-size: 14px;
      padding: 0 15px;
      margin-top: 30px;
    }
  }
}

#edit-footer {
  & > div:not(.pswp) {
    margin: 0 -5px;
    border-top: 1px solid var(--ion-color-light-shade);
    box-shadow: 0px -1px 6px 0px #b5b5b5;
  }
}

.ios .pswp__top-bar {
  margin-top: 30px;
}
