.slider-input {
  --inner-padding-end: 0;
  
  ion-range {
    padding-right: 0;
  }

  .decrement-button,
  .increment-button {
    --padding-end: 0;
    --padding-start: 0;
  }

  input[type='number'] {
    width: 5%;
    border: none;
    border-bottom: #c1baba solid 1px;
    min-width: 30px;
    text-align: center;
    padding: 0;
  }

  .increment-button,
  .decrement-button {
    --padding-end: 15px;
    --padding-start: 15px;
  }
}
