#about {
  ion-label {
    white-space: normal;
  }

  ion-list-header:not(:first-child) {
    margin-top: 30px;
  }

  p,
  ul,
  li,
  a {
    text-decoration: none;
  }

  ul {
    padding-inline-start: 15px;
    list-style-type: none;
  }

  li {
    margin-bottom: 8px;
    b {
      font-weight: 600;
    }
  }
}
