#record-show {
  //MAIN
  .species .descript {
    width: 100%;
    padding-left: 1em;
  }

  .info li.table-view-cell {
    padding-right: 2%;
  }

  .descript.comment {
    white-space: initial;
    text-align: right;
    width: auto;
    float: none;
    margin-left: 8% !important;
    display: block !important;
  }

  #img-array {
    height: 100px;
    padding: 15px;
    white-space: nowrap;
    overflow: overlay;

    img {
      width: 60px;
    }
  }

  #occurrence-id {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 10px;
    color: var(--ion-color-medium);
  }

  #resend-btn {
    text-align: center;

    ion-button {
      margin: 15px auto;
    }
  }

  #record-external-link {
    margin-top: 15px;
  }
}
