#credits {
  ion-content {
    --padding-bottom: 30px;

    img {
      display: block;
      margin: 0 auto;
    }

    .credits span {
      display: block;
      margin-bottom: 10px;
      white-space: normal;
    }
  }
}
