#taxa-shortcuts-info {
  padding: 15px;
  background: rgba(238, 238, 238, 0.6);
  margin: 20px;
  color: #353535;
}

#suggestions ul {
  border-top: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 15px;
  list-style: none;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
