@import '../../common/styles/_variables.scss';
@import '../../common/styles/mixins.scss';

//HEADER
#samples-header {
  @include samples-surveys-header;
}

.img-picker {
  width: 45%;
  display: inline-block;
  text-align: center;
  overflow: visible !important;

  input {
    width: 100%;
    left: 0;
    position: absolute;
    padding: 0.4em;
    opacity: 0;
    margin: -8px 0 !important;
    height: inherit !important;
  }

  &:hover {
    cursor: pointer;
  }
}

//LIST
#samples-list-container {
  #empty-message {
        height: initial !important;
        min-height: initial !important;
        padding: 13px 0;
        border: none;
        margin: 0;

        list-style: none;
        text-align: center;

        color: $color-black;

        h6 {
          opacity: 0.6;
        }

        img {
          width: 70px;
          margin: 30px 0 5px;
          opacity: 0.5;
        }


        #create-new-btn {
          margin-top: 40px;
        }
    }

  #list {
    ion-item {
      --padding-start: 0;

      .activity {
        width: 7px;
        height: 100%;
        margin: 0;
        background-color: $color-blue-dark;
        z-index: 100;
        position: absolute;
        left: 0;
        top: 0;
      }

      .photo {
        margin: 0 8px 2px 0;
        height: 60px;
        width: 60px;
        background-color: #e5eacd;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .media-body {
        max-width: 75%;

        .species {
          display: block;
          font-size: 15px;
          font-weight: 700;
          color: $button-black;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.error {
            color: $color-orange;
          }
        }

        .core {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px;

          span {
            font-weight: 500;
            color: $button-black;
            &.error {
              color: $color-orange;
            }

            &.warn {
              color: $color-yellow;
            }
          }
        }

        .attributes {
          clear: both;

          .icon {
            float: right;

            &:before {
              font-size: 14px;
            }
          }
        }

        div.stage,
        div.number {
          float: left;
          font-size: 12px;
          margin-right: 10px;
        }

        div.comment {
          float: left;
          width: 80px;

          font-size: 12px;
          margin-right: 10px;
          overflow: hidden;

          word-wrap: normal;
          white-space: nowrap;
          text-overflow: ellipsis;

          color: $color-gray-dark;
        }

        span.locked,
        div.locked {
          color: $color-blue;
        }
      }

      ion-spinner {
        position: absolute;
        margin: 0;
        top: 0;
        right: 0;
        height: 22px;
        --color: $color-main;
      }

      .online-status {
        position: absolute;
        right: 0;
        top: 11px;

        margin-right: 7px;

        &.icon:before {
          font-size: 15px;
        }

        &.local {
          color: $color-orange;
        }

        &.cloud,
        &.icon-plus {
          font-size: 15px;
          color: $color-main;
        }
      }

      a {
        width: 100%;
        cursor: default;
      }
    }

   ion-item-option#minus {
      border-left: 1px solid white;
    }
  }

  #recommendation {
    margin: 40px;

    &:empty {
      display: none;
    }

    div {
      text-align: center;
      h3 {
        font-size: 15px;
        font-weight: 700;
        color: #333;
      }
      .buttons {
        width: 100%;
        margin: 20px auto;

        a {
          line-height: 47px;
        }
      }
    }
  }

  &.band-margin-1 > #recommendation {
    margin-top: 76px;
  }
}

#samples-header #create-new-btn {
  ion-icon {
    width: 30px;
    height: 30px;
  }
}

