.photo-picker .img {
  .badge {
    position: absolute;
    bottom: 2px;
    left: 2px;
    padding: 3px;
  }

  .warning-icon {
    position: absolute;
    bottom: 2px;
    left: 2px;
    border-radius: 100%;
    background: var(--classifier-unlikely-background);
    width: 20px;
    height: 20px;
    color: var(--classifier-unlikely);
  }

  .success-icon {
    position: absolute;
    bottom: 2px;
    left: 2px;
    border-radius: 100%;
    background: var(--classifier-success-background);
    color: var(--classifier-success);
  }

  ion-spinner {
    position: absolute;
    bottom: 2px;
    left: 2px;
    border-radius: 50%;
    background: #ffffff94;
    width: 1.1em;
    height: 1.1em;
  }
}
