@import "../../styles/_variables.scss";

#suggestions .table-view {
  border-top: none;
}

#suggestions .table-view-cell {
  padding: 8px 65px 8px 15px;

  @include empty-list();

  button {
    width: 20%;
    max-width: 80px;
    right: 0;

    background-color: transparent;
    border: none;

    //left line
    &:after {
      content: "";
      background: $color-gray;
      position: absolute;
      bottom: 9px;
      left: 0;
      height: 63%;
      width: 1px;
    }
  }

  h3 {
    white-space: normal;
    overflow: visible;
    font-weight: normal;
    margin-bottom: 8px;
    margin-top: -2px;
  }

  span.group {
    position: absolute;
    right: 22%;

    &.right {
      right: 2%;
    }

    bottom: -2px;
    font-weight: 200;
    font-size: 14px;
    color: $color-gray-dark;
  }

  @media only screen and (min-width: 400px) {
    span.group {
      right: 90px;
    }
  }

  &.selected {
    background-color: $color-gray;

    button {
      border-left: 1px $color-gray-dark solid;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
