@import '../../styles/_variables.scss';

#taxon {
  z-index: 1000;
  position: fixed;
  background-color: white;
  top: 54px;
  padding-right: 14px;
  padding-left: 0;
}

#filter-btn {
  width: 50%;
  max-width: 55px;

  &.on {
    color: $color-yellow;
  }
}

#species-list-filters {
  overflow: scroll;
  height: 48%;
  border-bottom: none;

  .taxon-groups {
    margin-top: 30px;
  }
}

.filter-label {
  text-transform: capitalize;
}

#taxa-shortcuts-info {
  padding: 15px;
  background: rgba(238, 238, 238, 0.6);
  margin: 20px;
  color: #353535;
}

#suggestions .table-view {
  border-top: none;
}

#suggestions .table-view-cell {
  padding: 8px 65px 8px 15px;

  &:nth-child(odd) {
    background-color: $color-gray-light;
  }

  @include empty-list();

  button {
    width: 20%;
    max-width: 80px;
    right: 0;

    background-color: transparent;
    border: none;

    //left line
    &:after {
      content: '';
      background: $color-gray;
      position: absolute;
      bottom: 9px;
      left: 0;
      height: 63%;
      width: 1px;
    }
  }

  button.edit-shortcut {
    height: 47px;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  h3 {
    white-space: normal;
    overflow: visible;
    font-weight: normal;
    margin-bottom: 8px;
    margin-top: -2px;
  }

  span.group {
    position: absolute;
    right: 22%;

    &.right {
      right: 2%;
    }

    bottom: -2px;
    font-weight: 200;
    font-size: 14px;
    color: $color-black;
  }

  @media only screen and (min-width: 400px) {
    span.group {
      right: 90px;
    }
  }

  &.selected {
    background-color: $color-gray;

    button {
      border-left: 1px $color-gray-dark solid;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
