@import '../../styles/_variables.scss';

#map-location-name {
  position: absolute;
  margin-left: -$main-content-margin;
  z-index: 1000;
  width: 100%;
  padding: 0 2%;
  background-color: rgba(255, 255, 255, 0.9);

  input {
    background: transparent;
  }
}

.tabs li[data-id='grid-ref'] {
  font-size: 1.3em;
  font-weight: normal;
}

#map-container {
  //container is onlyneeded to
  //make it full width
  margin-left: -2%;
  margin-right: -2%;
  height: 100vh;

  #map {
    height: 100vh; /* was 76vh */
    width: 100%;

    //workaround the visible lines between tiles
    &[data-layer='Satellite'] {
      background-color: #4c4c4c;
    }
    &[data-layer='OSM'] {
      background-color: #ddd;
    }
    &[data-layer='OS'] {
      background-color: white;
    }

    .leaflet-control-container .leaflet-top {
      top: 95px;
    }

    &.hiddenName {
      .leaflet-control-container .leaflet-top {
        top: 50px;
      }
    }

    .leaflet-control-layers label {
      margin: 10px 5px;
    }
  }
}

.leaflet-container {
  background-color: white;

  .leaflet-bottom,
  .leaflet-top {
    z-index: 100;
  }
}

.leaflet-control-scale {
  display: none;
}

.map-marker {
  margin-left: -24px !important;
  margin-top: -24px !important;
  text-shadow: 0px 0px 1px black, 0px 0px 4px black;
  color: $color-red;
  &:before {
    font-size: 34px;
  }
}

input#grid-ref {
  text-transform: uppercase;
}
input#grid-ref {
  text-transform: uppercase;
}
input#grid-ref::-webkit-input-placeholder {
  /* WebKit browsers */
  text-transform: none;
}
input#grid-ref:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  text-transform: none;
}
input#grid-ref::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  text-transform: none;
}
input#grid-ref:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  text-transform: none;
}

@media only screen and (max-width: 400px) {
  #location-header {
    h1 {
      font-size: 13.5px;
    }
    h3 {
      margin-left: -30px;
    }
  }
}

// OS Map empty tiles fix
.leaflet-tile-container {
  img[src='#{$OS_MAP_URL}&BBOX=0,-500000,0,0&WIDTH=200&HEIGHT=200&LAYERS=2500'],
  img[src='#{$OS_MAP_URL}&BBOX=500000,-500000,0,0&WIDTH=200&HEIGHT=200&LAYERS=2500'],
  img[src='#{$OS_MAP_URL}&BBOX=200000,-200000,0,0&WIDTH=200&HEIGHT=200&LAYERS=1000'],
  img[src='#{$OS_MAP_URL}&BBOX=400000,-200000,0,0&WIDTH=200&HEIGHT=200&LAYERS=1000'],
  img[src='#{$OS_MAP_URL}&BBOX=0,-200000,0,0&WIDTH=200&HEIGHT=200&LAYERS=1000'],
  img[src='#{$OS_MAP_URL}&BBOX=600000,-200000,0,0&WIDTH=200&HEIGHT=200&LAYERS=1000'],
  img[src='#{$OS_MAP_URL}&BBOX=800000,-200000,0,0&WIDTH=200&HEIGHT=200&LAYERS=1000'],
  img[src='#{$OS_MAP_URL}&BBOX=600000,-100000,0,0&WIDTH=200&HEIGHT=200&LAYERS=500'],
  img[src='#{$OS_MAP_URL}&BBOX=500000,-100000,0,0&WIDTH=200&HEIGHT=200&LAYERS=500'],
  img[src='#{$OS_MAP_URL}&BBOX=400000,-100000,0,0&WIDTH=200&HEIGHT=200&LAYERS=500'],
  img[src='#{$OS_MAP_URL}&BBOX=700000,-100000,0,0&WIDTH=200&HEIGHT=200&LAYERS=500'],
  img[src='#{$OS_MAP_URL}&BBOX=800000,-100000,0,0&WIDTH=200&HEIGHT=200&LAYERS=500'],
  img[src='#{$OS_MAP_URL}&BBOX=300000,-100000,0,0&WIDTH=200&HEIGHT=200&LAYERS=500'],
  img[src='#{$OS_MAP_URL}&BBOX=200000,-100000,0,0&WIDTH=200&HEIGHT=200&LAYERS=500'],
  img[src='#{$OS_MAP_URL}&BBOX=100000,-100000,0,0&WIDTH=200&HEIGHT=200&LAYERS=500'],
  img[src='#{$OS_MAP_URL}&BBOX=0,-100000,0,0&WIDTH=200&HEIGHT=200&LAYERS=500'] {
    display: none;
  }
}

#location-container {
  margin-top: -$header-height;

  #header-controls {
    position: absolute;
    margin-left: -2%;
    z-index: 1000;
    width: 100%;
    padding: 0 2%;

    .input-group {
      background: rgba(256, 256, 256, 0.9);
      margin-left: -2%;
      margin-right: -2%;

      button.lock-btn {
        height: 100%;
        width: 40px;
        position: absolute;
        margin-top: 0;
        margin-bottom: 0;
        outline-style: none;
        border-left: 1px solid #ddd;
        padding-right: 1.4em;
        padding-left: 0.8em;

        &:before {
          margin: 0 auto;
        }
      }
    }

    #location-name-row {
      overflow: initial;
      span {
        width: 80%;
      }
    }
  }
}

#back-btn {
  background-color: $color-main;
  margin: -1 10 0 -2%;
  height: 45px;
  color: $color-white;
  width: 55px;

  a {
    width: 100%;
    height: 100%;
    padding: 13px;
  }
}

.leaflet-control-button.leaflet-control {
  .leaflet-buttons-control-button {
    &.gps-btn[data-gps-progress='fixed'] {
      background-color: $color-green;
      border-color: $color-green;
    }

    &.gps-btn[data-gps-progress='pending'] {
      background-color: $color-yellow;
      border-color: $color-yellow;
    }

    &.gps-btn[data-gps-progress='failed'] {
      background-color: $color-orange;
      border-color: $color-orange;
    }
  }
}
input#location-gridref {
  text-transform: uppercase;
}

input#location-gridref[data-source='gps'] {
  color: $color-green;
}

input#location-gridref[data-gr-error='error'] {
  color: $color-orange;
}
