.badge {
  display: inline-flex;
  z-index: 900;
  border-radius: 10px;
  padding: 3px;

  ion-icon {
    margin-right: 3px !important;
    font-size: 1em !important;
  }

  ion-label {
    display: flex;
    justify-content: revert;
    align-items: center;
  }

  &.badge-success {
    border: 1px solid var(--classifier-success);
    background: var(--classifier-success-background);
    color: var(--classifier-success);
  }

  &.badge-plausible {
    border: 1px solid var(--classifier-plausible);
    background: var(--classifier-plausible-background);
    color: var(--classifier-plausible);
  }

  &.badge-unlikely {
    border: 1px solid var(--classifier-unlikely);
    background: var(--classifier-unlikely-background);
    color: var(--classifier-unlikely);
  }
}
