@import '@flumens/ionic/dist/themes/rounded.css';

:root {
  --ion-color-primary: #91a71c;
  --ion-color-primary-rgb: 145, 167, 28;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #809319;
  --ion-color-primary-tint: #9cb033;
  --ion-color-primary-dark: #131600;

  --ion-color-secondary: #0057af;
  --ion-color-secondary-rgb: 0, 142, 236;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #007dd0;
  --ion-color-secondary-tint: #1a99ee;
  --ion-color-secondary-dark: #000a14;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;
  --ion-color-tertiary-dark: #050016;

  --ion-color-success: var(--ion-color-primary);
  --ion-color-success-rgb: 0, 189, 26;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: var(--ion-color-primary-shade);
  --ion-color-success-tint: var(--ion-color-primary-tint);
  --ion-color-success-dark: var(--ion-color-primary-dark);

  --ion-color-warning: #913800;
  --ion-color-warning-rgb: 209, 116, 30;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #341400;
  --ion-color-warning-tint: #ad4200;
  --ion-color-warning-light: #ff7926;
  --ion-color-warning-dark: #301200;
  --ion-color-warning-background: #fffbf8;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 240, 65, 65;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;
  --ion-color-danger-dark: #2c0000;

  --ion-color-dark: #141800;
  --ion-color-dark-rgb: 20, 24, 0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #1c2200;
  --ion-color-dark-dark: rgb(0, 0, 0);

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;
  --ion-color-medium-dark: #131313;

  --ion-color-light: #fcfcfc;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #ffffff;
  --ion-color-light-dark: #1a1a1a;

  --custom-color-complex-survey: #a77d11;
  --custom-color-complex-survey-rgb: 167, 125, 17;
  --custom-color-complex-survey-shade: #6d520c;
  --custom-color-complex-survey-dark: #271c00;
  --custom-color-complex-survey-tint: #b98b14;

  --custom-color-lock: var(--ion-color-secondary);
  --custom-color-lock-tint: var(--ion-color-secondary-tint);

  --ion-page-background: #f0f3f0;
  --ion-headings-font-weight: 300;
  // --ion-item-border-color: red;
  --ion-item-border-color: rgb(0, 0, 0, 0.2);

  --light-shadow: 0px 0px 11px 0px #00000012;
}

// status bar
html.ios.plt-hybrid #status-bar-background {
  background: transparent;
  width: 100vw;
  height: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  z-index: 1000;
}

// FONTS START
@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Medium.ttf');
}

@font-face {
  font-family: 'Quicksand Bold';
  src: url('./fonts/Quicksand-Bold.ttf');
}

ion-title,
h1 {
  color: var(--ion-color-primary);
  font-family: 'Quicksand Bold' !important;
}

ion-item-divider,
ion-badge,
ion-label.bold,
b {
  font-family: 'Quicksand Bold' !important;
}

.apps-section .apps-section-h,
h2,
h3,
h4,
h5,
p,
div,
input,
ion-button,
button,
span,
ion-back-button,
ion-item-option,
ion-note,
ion-label,
ion-chip,
ion-item {
  font-family: 'Quicksand' !important;
}
// FONTS END

// header colours
.apps-section .apps-section-h,
h1,
h2,
h3 {
  color: var(--ion-color-primary);
}

// make the toolbar white
ion-header ion-toolbar {
  --background: white;

  ion-title,
  ion-button,
  ion-back-button {
    color: var(--ion-color-dark) !important;
    font-size: 1em;
    &.md {
      font-size: 0.9em;
    }
  }

  ion-input,
  ion-icon {
    color: var(--ion-color-dark);
    --placeholder-color: var(--ion-color-dark);
  }

  ion-back-button {
    background-color: transparent !important;
  }
}

// change link colours
a {
  color: var(--ion-color-primary);
}

// info messages
.attr-page .info-message,
.info-message.blue {
  --background: rgba(var(--ion-color-secondary-rgb), 0.1);
  background: white; // above is transparent
  border: 1px solid #dcedff;
  border-radius: var(--theme-border-radius);

  ion-note {
    color: var(--ion-color-secondary-dark);
    &.ios {
      font-size: 1.2em;
    }
    &.md {
      font-size: 1em;
    }
  }

  ion-icon {
    color: var(--ion-color-secondary-dark) !important;
  }

  ion-button {
    color: var(--ion-color-secondary-dark) !important;
    --border-color: var(--ion-color-secondary-dark) !important;
  }
}
ion-list .info-message {
  --background: #fafafa;
}

// ACCESSIBILITY IMPROVEMENTS START
ion-button:not(.button-has-icon-only),
ion-item {
  font-size: 1em;
  &.md {
    font-size: 0.9em;
  }
}
// clearer image picker empty message
.photo-picker {
  &.ios .empty {
    font-size: 0.9em !important;
  }
  &.md .empty {
    font-size: 1em !important;
  }
}

// brighter and bigger divider
ion-item-divider {
  font-size: 0.9em;
  color: var(--ion-text-color);
  padding: 0 5px 7px 5px;
}

// brighter attribute page divider
.attr-page ion-item-divider ion-label {
  font-family: 'Quicksand Bold' !important;
  margin-top: 10px;
  margin-left: 10px;
}

// brighter default radio option
.radio-input-attr ion-radio-group > ion-item.radio-input-default-option {
  opacity: 1 !important;
  --background: #ffffff78;
}

// clearer date picker
.date-input-attr ion-label[slot='end'] {
  font-size: 1em;

  &.ios {
    font-size: 0.9em;
  }
}

// clearer menu items
.menu-attr-item,
.attr-wrapper {
  ion-icon[slot='start'] {
    --ionicon-stroke-width: 24px;
  }
  ion-label[slot='end'] {
    opacity: 1 !important;
    color: #000000b3;

    &.ios {
      font-size: 0.9em;
    }
  }
}

// larger collapse headers
.collapse-block ion-label.ion-text-wrap {
  font-size: 0.9em;
}

// larger radio inputs
.radio-input-attr ion-item ion-label.ios {
  font-size: 0.9em !important;
}
// ACCESSIBILITY IMPROVEMENTS END

// overwrite required item colours
.menu-attr-item.required.empty > ion-icon:first-of-type {
  color: black;
}

// prettier main buttons
ion-button[type='submit'],
ion-button[expand='block'] {
  max-height: 40px;
  --border-radius: var(--theme-border-radius);
}

// reduce distance between two rounded lists
ion-list + ion-list > .rounded {
  margin-top: 0 !important;
}

// subtle borders around rounded items
.search-result:nth-child(odd),
.survey-list-item,
.slider-input-attr,
.input-list-attr .input-list-attr-item,
.radio-input-attr ion-item,
#suggestions .empty,
.taxa-filter-edit-dialog-form ion-item,
.rounded {
  border: 1px solid #ecebebe3;
  border-radius: var(--theme-border-radius);
}

// subtle borders around rounded radio items
ion-radio-group .item-radio-checked:not(.radio-input-default-option) {
  border: 1px #dce0d5 solid;
}

// improved location page name picker
ion-toolbar.location-input-attr:not(:only-of-type) {
  border-bottom: 1px solid #f1f1f1;
}
ion-toolbar.location-name-attr .auto-suggest-input-attr {
  .react-autosuggest__container {
    height: 100%;
  }

  ion-input {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    --padding-top: 0;
    --padding-bottom: 0;
    height: 100%;

    input:placeholder-shown {
      font-size: 0.8em;
    }
  }
}
