@import '@ionic/core/css/ionic.bundle.css';
@import '@flumens/ionic/dist/themes/rounded.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    // tailwind is loaded later than ionic so resets some of the ionic's base styles
    @apply mt-5 text-2xl;
  }
}

:root {
  --ion-color-primary: var(--color-primary);
  --ion-color-primary-rgb: var(--color-primary-rgb);
  --ion-color-primary-contrast: var(--color-primary-50);
  --ion-color-primary-contrast-rgb: var(--color-primary-50-rgb);
  --ion-color-primary-shade: var(--color-primary-800);
  --ion-color-primary-tint: var(--color-primary-500);
  --ion-color-primary-dark: var(--color-primary-950);

  --ion-color-secondary: var(--color-secondary);
  --ion-color-secondary-rgb: var(--color-secondary-rgb);
  --ion-color-secondary-contrast: var(--color-secondary-50);
  --ion-color-secondary-contrast-rgb: var(--color-secondary-50-rgb);
  --ion-color-secondary-shade: var(--color-secondary-700);
  --ion-color-secondary-tint: var(--color-secondary-500);
  --ion-color-secondary-dark: var(--color-secondary-950);

  --ion-color-tertiary: var(--color-tertiary);
  --ion-color-tertiary-rgb: var(--color-tertiary-rgb);
  --ion-color-tertiary-contrast: var(--color-tertiary-50);
  --ion-color-tertiary-contrast-rgb: var(--color-tertiary-50-rgb);
  --ion-color-tertiary-shade: var(--color-tertiary-700);
  --ion-color-tertiary-tint: var(--color-tertiary-500);
  --ion-color-tertiary-dark: var(--color-tertiary-950);

  --ion-color-success: var(--color-success);
  --ion-color-success-rgb: var(--color-success-rgb);
  --ion-color-success-contrast: var(--color-success-50);
  --ion-color-success-contrast-rgb: var(--color-success-50-rgb);
  --ion-color-success-shade: var(--color-success-700);
  --ion-color-success-tint: var(--color-success-500);
  --ion-color-success-dark: var(--color-success-950);

  --ion-color-warning: var(--color-warning);
  --ion-color-warning-rgb: var(--color-warning-rgb);
  --ion-color-warning-contrast: var(--color-warning-50);
  --ion-color-warning-contrast-rgb: var(--color-warning-50-rgb);
  --ion-color-warning-shade: var(--color-warning-700);
  --ion-color-warning-tint: var(--color-warning-500);
  --ion-color-warning-dark: var(--color-warning-900);

  --ion-color-danger: var(--color-danger);
  --ion-color-danger-rgb: var(--color-danger-rgb);
  --ion-color-danger-contrast: var(--color-danger-50);
  --ion-color-danger-contrast-rgb: var(--color-danger-50-rgb);
  --ion-color-danger-shade: var(--color-danger-700);
  --ion-color-danger-tint: var(--color-danger-500);
  --ion-color-danger-dark: var(--color-danger-950);

  --ion-color-dark: var(--color-slate-900);
  --ion-color-dark-contrast: var(--color-slate-50);
  --ion-color-dark-shade: var(--color-slate-950);
  --ion-color-dark-tint: var(--color-slate-800);

  --ion-color-medium: var(--color-slate-400);
  --ion-color-medium-contrast: var(--color-slate-50);
  --ion-color-medium-shade: var(--color-slate-500);
  --ion-color-medium-tint: var(--color-slate-300);

  --ion-color-light: var(--color-white);
  --ion-color-light-contrast: var(--color-slate-950);
  --ion-color-light-shade: var(--color-slate-200);
  --ion-color-light-tint: var(--color-white);

  --attr-lock-color: var(--ion-color-secondary);
  --attr-lock-color-tint: var(--ion-color-secondary-tint);

  --verification-success: var(--ion-color-primary);
  --verification-success-rgb: var(--ion-color-primary-rgb);
  --verification-success-dark: var(--ion-color-primary-dark);
  --verification-plausible: #fcb500;
  --verification-plausible-rgb: 252, 181, 0;
  --verification-plausible-dark: #3b2a00;
  --verification-rejected: var(--ion-color-danger);
  --verification-rejected-rgb: var(--ion-color-danger-rgb);
  --verification-rejected-dark: var(--ion-color-danger-dark);

  --classifier-success: var(--ion-color-primary-dark);
  --classifier-success-background: #faffd6;
  --classifier-plausible: var(--ion-color-warning-dark);
  --classifier-plausible-background: #fff1be;
  --classifier-unlikely: var(--ion-color-danger-dark);
  --classifier-unlikely-background: #f3cfd8;

  --ion-page-background: #f0f3f0;
  --ion-headings-font-weight: 300;
  --ion-item-border-color: rgb(0, 0, 0, 0.2);

  --light-shadow: 0px 0px 11px 0px #00000012;

  --form-value-color: rgba(var(--color-primary-800-rgb), 0.9);
}

// status bar
html.ios.plt-hybrid #status-bar-background {
  position: fixed;
  top: 0;
  z-index: 1000;
  background: transparent;
  width: 100vw;
  height: env(safe-area-inset-top);
}

// Fixes the tabbed page top safe area
html[mode='ios'] .tabs-inner .ion-page {
  // margin-top: var(--ion-safe-area-top);
}

// FONTS START
@font-face {
  font-weight: 300;
  src: url('./fonts/Quicksand-Light.ttf');
  font-family: 'Quicksand';
}
@font-face {
  font-weight: 400;
  src: url('./fonts/Quicksand-Regular.ttf');
  font-family: 'Quicksand';
}
@font-face {
  font-weight: 500;
  src: url('./fonts/Quicksand-Medium.ttf');
  font-family: 'Quicksand';
}
@font-face {
  font-weight: 600;
  src: url('./fonts/Quicksand-SemiBold.ttf');
  font-family: 'Quicksand';
}
@font-face {
  font-weight: 700;
  src: url('./fonts/Quicksand-Bold.ttf');
  font-family: 'Quicksand';
}

ion-title,
h1 {
  color: var(--ion-color-primary);
  font-weight: 700;
  font-family: 'Quicksand' !important;
}

ion-item-divider,
ion-badge,
ion-label.bold,
b {
  font-weight: 600;
  font-family: 'Quicksand' !important;
}

.apps-section .apps-section-h,
h2,
h3,
h4,
h5,
p,
div,
input,
ion-button,
button,
span,
ion-back-button,
ion-item-option,
ion-note,
ion-label,
ion-chip,
ion-item {
  font-weight: 400;
  font-family: 'Quicksand' !important;
}
// FONTS END

// header colours
.apps-section .apps-section-h,
h1,
h2,
h3 {
  color: var(--color-primary-900);
}

// // move south from status-bar
// .ion-page ion-content:only-child {
//   --padding-top: 20px !important;
// }

// make the toolbar white
ion-header ion-toolbar {
  --background: white;

  ion-title,
  ion-button,
  ion-back-button {
    color: var(--ion-color-dark) !important;
    font-size: 1rem;
  }

  ion-input,
  ion-icon {
    color: var(--ion-color-dark) !important;
    --placeholder-color: var(--ion-color-dark) !important;
  }

  ion-back-button {
    background-color: transparent !important;
  }
}

// change link colours
a {
  color: var(--color-primary-700);
  font-weight: 600;
}

// info messages
.info-message.blue,
.attr-page .info-message {
  @apply border-secondary-300/40 bg-secondary-50 text-secondary-900;
}

// ACCESSIBILITY IMPROVEMENTS START
ion-button:not(.button-has-icon-only),
ion-item {
  font-size: 1em;
  &.md {
    font-size: 0.9em;
  }
}
// clearer image picker empty message
.photo-picker {
  &.ios .empty {
    font-size: 0.9em !important;
  }
  &.md .empty {
    font-size: 1em !important;
  }
}

// brighter and bigger divider
ion-item-divider {
  padding: 0 5px 7px 5px;
  color: var(--ion-text-color);
  font-size: 0.9em;
}

// clearer menu items
.menu-attr-item,
.attr-wrapper {
  ion-icon[slot='start'] {
    --ionicon-stroke-width: 24px;
  }
  ion-label[slot='end'] {
    opacity: 1 !important;
    color: #000000b3;
  }
}

// menu date picker match other input value colors
.date-input-attr ion-label[slot='end'] {
  color: var(--form-value-color);
  font-size: 1rem;
}

// larger collapse headers
.collapse-block ion-label.ion-text-wrap {
  font-size: 1rem;
}

// clearer alert messages
ion-alert div.alert-message.sc-ion-alert-md {
  color: black;
  font-size: 1.1em;
}

// increase link and menu label visibility
label.field-label,
ion-item[detail='true'][href],
ion-item > ion-icon + ion-label,
ion-item.item > ion-icon + ion-label.sc-ion-label-md-h {
  font-weight: 500;
  font-size: 1rem;
}
// ACCESSIBILITY IMPROVEMENTS END

// overwrite required item colours
.menu-attr-item.required.empty > ion-icon:first-of-type {
  color: black;
}

// subtle borders around rounded items
.search-result:nth-child(odd),
.survey-list-item,
.slider-input-attr,
.input-list-attr .input-list-attr-item,
.radio-input-attr ion-item,
#suggestions .empty,
.taxa-filter-edit-dialog-form ion-item,
.rounded-list:not(:empty) {
  border: 1px solid rgba(var(--color-primary-800-rgb), 0.2);
  border-radius: var(--theme-border-radius);
}

// Fix last date input in the list
ion-list .rounded-list > .menu-attr-item:last-child,
ion-list .rounded-list > .menu-attr-item:last-child > ion-item,
ion-list .rounded-list > *:last-child .date-input-attr ion-item[slot='header'] {
  --border-style: none !important;
}

// TODO: Remove after fixing numberRanges: 1 as number
.radio-input-attr ion-item.hidden {
  display: none;
}

// list item picture
.list-avatar {
  @apply flex size-14 shrink-0 items-center justify-center overflow-hidden rounded-md bg-neutral-100;
}

// top of the list title
.list-title {
  @apply mx-1 mb-3 mt-4 flex items-center text-base font-semibold;
}

// top of the list item
.list-divider {
  @apply flex items-center justify-between bg-primary-700/10 p-1 px-2 text-sm text-primary-900;
}

// Make Android icons dark, same as iOS
ion-icon[slot='start'].md {
  color: var(--ion-text-color, #000);
}

// make all menu icons same size
ion-icon[slot='start'][size='small'] {
  width: 25px;
  height: 24px;
}

// Makes iOS menu items same height as Android
ion-item .sc-ion-label-ios-h.sc-ion-label-ios-s.ios {
  margin-top: 12px;
  margin-bottom: 12px;
}

// Unify menu lines with Tailwind package components
.date-input-attr ion-accordion:last-of-type ion-item[slot='header'],
.list-ios-lines-full ion-item.item-lines-default,
.list-md-lines-full ion-item.item-lines-default {
  --border-width: 0 0 0.5px 0 !important;
  --border-color: #e5e5e5 !important;
}

// Fix menu date button label alignment for Android
ion-accordion ion-icon[slot='start'].md {
  margin-right: 37px;
}
