.animated-number {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: #505f00;
}

.md .animated-number {
  font-size: 1.3em;
}
