#home-user-surveys {
  ion-header ion-toolbar {
    --background: transparent;

    ion-segment {
      max-width: calc(
        100% - 20px
      ); // -20px to match the padding of the list below
      margin: 8px auto;
      z-index: 100000000;
      border-radius: var(--theme-border-radius);
      background: #fff;

      box-shadow: -1px 2px 7px 0 #0000001a, 0 2px 9px 0 #3e396b1a;

      &[value='map'] {
        border-radius: var(--theme-border-radius);
        background: rgba(255, 255, 255, 0.9);
      }

      ion-badge {
        display: inline;
        vertical-align: top;
        margin: 3px;
        margin-left: 3px;
      }

      ion-label {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 1px;
      }

      ion-segment-button {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    position: fixed;
    color: var(--ion-color-main);
  }

  ion-content {
    --overflow: hidden;

    ion-list {
      height: 100%;
      width: calc(100% - 20px);
      padding: 0 !important;
      max-width: 600px; // ipad
      margin: 0 auto;
    }

    ion-list.ios div div {
      top: var(--ion-safe-area-top, 0);
    }

    .upload-all-button {
      margin: 10px auto;
      height: 35px !important;
      display: block;
      position: absolute;
      right: 17px;
      bottom: 0;
      overflow: hidden;
      border-radius: var(--theme-border-radius);
      box-shadow: -1px 2px 7px 0 #0000001a, 0 2px 9px 0 #3e396b1a;

      &.ios {
        font-size: 0.9em;
      }
    }

    .info-background-message {
      margin-top: 20vh;
      margin-bottom: 10vh;
    }
  }

  ion-item-divider {
    padding: 0px 4px 0 12px;
    background: #dae0da !important;
    color: #001400;
    border-radius: var(--theme-border-radius);
  }
}

.info-background-message ion-icon,
ion-alert .tip-icon {
  background: var(--ion-color-primary) !important;
  --ionicon-stroke-width: 40px;
  border-radius: 50% !important;
  margin-bottom: -3px;
  color: white;
}
