#home-user-surveys {
  ion-header ion-toolbar {
    --background: transparent;

    position: fixed;
    color: var(--ion-color-main);

    ion-segment {
      z-index: 100000000;
      margin: 8px auto;

      box-shadow: -1px 2px 7px 0 #0000001a, 0 2px 9px 0 #3e396b1a;
      border-radius: var(--theme-border-radius);
      background: #fff;
      max-width: calc(
        100% - 20px
      ); // -20px to match the padding of the list below

      &[value='map'] {
        border-radius: var(--theme-border-radius);
        background: rgba(255, 255, 255, 0.9);
      }

      ion-badge {
        display: inline;
        vertical-align: top;
        margin: 3px;
        margin-left: 3px;
      }

      ion-label {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 1px;
      }

      ion-segment-button {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }

  ion-content {
    --padding-top: env(safe-area-inset-top) !important;
    --overflow: hidden;

    ion-list {
      margin: 0 auto;
      padding: 0 !important;
      width: calc(100% - 20px);
      max-width: 600px; // ipad
      height: 100%;
    }

    .upload-all-button {
      display: block;
      position: absolute;
      right: 17px;
      bottom: 0;
      margin: 10px auto;
      box-shadow: -1px 2px 7px 0 #0000001a, 0 2px 9px 0 #3e396b1a;
      border-radius: var(--theme-border-radius);
      height: 35px !important;
      overflow: hidden;

      &.ios {
        font-size: 0.9em;
      }
    }
  }
}
